[2021-11-30 12:29] stefanopagliari opened #3 "Remove Backtick From Annotations"
Quotation marks from extracted annotations are in some cases imported as backticks, which affects the formatting in the markdown file. These need to be replaced with quotation marks

[2021-12-01 21:07] stefanopagliari commented on #3
Fixed by adding `replace(/`/g, "'");` to main.ts

[2021-12-01 21:07] #3 closed

[2021-12-01 22:20] stefanopagliari opened #5 "Fix the wiki link when there are multiple authors/editors, so that each "LastName, FirstName" is a separate link"

[2021-12-02 21:43] #5 closed

[2021-12-02 21:51] stefanopagliari opened #6 "Improve stability in loading large files"
Loading large bib files could is quite slow.
For instance a 3.3mb bib files takes around 8 second.

In addition, once the bib file is parsed in the async onOpen() function of the modal (select), each time a new letter is added to the search field the response is quite slow.

To do:
- 1) add notice/alert during onOpen() to alert that the file is still loading
- 2) explore whether the creation of Bi

[2021-12-03 12:21] stefanopagliari commented on #6
I have moved the processing of the bib file from getItems() to onOpen() and added a notice signalling the number of entries loaded

[2021-12-03 12:21] #6 closed

[2022-01-05 15:30] panyuz opened #7 "feture request: import notes of zotero items"
Thank you for the plugin, it was very helpful. I noticed that I can't import notes of zotero items yet, do you have plans to support this feature?

[2022-01-05 16:25] panyuz commented on #7
![截屏2022-01-06 上午12 24 40](https://user-images.githubusercontent.com/4372695/148252533-c7a03bf4-1ba7-451b-8a75-182f7a94e076.png)

[2022-01-05 20:49] mgmeyers opened #8 "Settings sections collapse when settings are changed"
https://user-images.githubusercontent.com/2694747/148287233-5350f512-c9b8-4e7d-a5c7-6c70d43f4340.mov

[2022-01-05 20:51] mgmeyers opened #9 "Comment blockquote setting improperly set"
The comment block quote setting currently using `isHighlightBlockquote` rather than `isCommentBlockquote`

https://github.com/stefanopagliari/bibnotes/blob/master/src/settings.ts#L349-L359

[2022-01-05 20:54] stefanopagliari commented on #8
Thanks for flagging this.
I know how keep the fold open by default with `settingsHighlights.setAttribute("open",` "")` although this would make the list of settings very long. I guess the solution is to dynamically change the value to "open" once it is unfolded and store the value somewhere. I will look into this

[2022-01-05 20:57] stefanopagliari commented on #9
Thank you for spotting this. I have fixed it

[2022-01-05 20:57] #9 closed

[2022-01-05 20:59] stefanopagliari commented on #7
Are these notes generated by the user rather exported by Zotfile/PDF native reader? If so, I can certainly look into ways to format them as long as they are exported in the json file

[2022-01-05 21:18] stefanopagliari commented on #8
I have changed this in 0.8.13 by keeping the settings open by default.

[2022-01-06 01:20] panyuz commented on #7
Hi, @stefanopagliari
This notes generated by user.  All notes are exported to biblatex.json file

[2022-01-06 09:14] stefanopagliari commented on #7
Ok, I will add this feature

[2022-01-06 09:16] #8 closed

[2022-01-06 20:53] Rhydderch commented on #7
Just noticed this as well! Looking forward to this feature. Thank you

[2022-01-11 13:20] Rhydderch opened #10 "feature request: allow underscore and parenthesis in the name of the notes"
This was discussed in the Obsidian forum so I thought I'd put it here for easy tracking.
https://forum.obsidian.md/t/bibnotes-formatter-new-plugin-to-export-and-format-annotations-from-zotero-into-obsidian/29920/41?u=y.h

[2022-01-11 13:30] Rhydderch opened #11 "feature request: toggle option to "update all" and give option to "update existing notes only""
Hi,
I once mistakenly used the "update all" command and it was a mess to roll back as I have 2000+ pdfs in my zotero library 😅
It would be great to give the option to toggle the "update all" command, to avoid using it by accident.
And consecutively, for me it would be really useful to have a "update only existing notes": to update notes that I already imported in Obsidian only but not add any new

[2022-01-11 13:32] Rhydderch opened #12 "Bug: focus cursor in the search field when searching for a note to import"
When using the command to import the highlights of a reference, the focus is not on the search bar. So it requires to each time manually click in the search bar to be able to start typing. By putting the focus directly in the search bar, it would save some precious seconds and make the use of the plugin more fluid.

Again, thank you for this great plugin. Looking forward to the next versions.

[2022-01-11 14:06] stefanopagliari commented on #11
That is a very good idea and an easy one to implement. I will do that. Should the default that "update all" only updates existing notes?

[2022-01-11 14:08] Rhydderch opened #13 "Bug: some characters get deleted on update"
I found a bug, which might be related to my specific use case.

This is the state of the note after importing it:
![image](https://user-images.githubusercontent.com/3197629/148953547-f5e536a8-d738-4711-a52b-d5f5ab464e75.png)

This is after I add some notes between highlights as well as a summary section above the imported highlights
![image](https://user-images.githubusercontent.com/3197629/148953

[2022-01-11 14:10] Rhydderch commented on #11
Yes, that would be great! (but you might have to fix the issue I just posted a second ago)

[2022-01-11 14:19] Rhydderch opened #14 "feature request: import tags as notes [[tag]] and authors as [[@author]] (not urgent at all)"
I like to use tags in Zotero to organize my references and notes. It would be great if your plugin could use this information to generate wikilinks in two ways:
1. **Reference tags**: the tags of the reference could be added in the metadata, separated by a comma, within brackets.
2. **Note tags**: the tags tied to a specific zotero note could be added at the end of the extracted note, separated by

[2022-01-11 15:56] Archie-2021 commented on #12
i was wondering why i could not search

[2022-01-11 15:59] Archie-2021 commented on #11
i did this by mistake. very happy that i was using a test folder.

i did this by mistake. very happy that i was using a test folder.

Is there a plane to move this plugin to community plugins? the manual update is easy to miss and time consuming

[2022-01-11 16:12] Archie-2021 opened #15 "feature request - import to current note option"
like citation plugin that gives the user the option to create the note in a certain location or adding it to the current open note. add such a command to bibnotes.

thanks

[2022-01-11 19:27] stefanopagliari commented on #13
Thanks. Are the only characters missing those at the beginning of "## Extracted Annotations"?

In the next update I will release some changes in the way the update of an existing note takes place, which may take care of that.

[2022-01-11 19:31] stefanopagliari commented on #14
Ok, if I understand correctly, you would like I add the option to exporting the tags from the metadata separately from the tags extracted from the highlights? I'm currently merging the two in a single array, but I can add the possibility of exporting the two separately.

Regarding, the authors, could you give me an example of how the output would look like?
For now, I've now hardcoded the possibil

[2022-01-11 20:47] Rhydderch commented on #13
Yes.
I will keep you posted if the next update fixes this.

[2022-01-11 20:54] Rhydderch commented on #14
Yes, exactly. It's super useful when summarising small related information from the literature in notes in Zotero.

For the authors, yes, that's great. An extra option you could give is to set a prefix. Some people including me like to use a prefix for notes referring to people (it can be "@", "#", "+"...) : to generate generate [[@author1]]; [[@author2]]

[2022-01-15 21:21] eliasws opened #16 "[QUESTION] Extracted Annotations are always empty"
Thanks for the nice plugin.

Sadly for me the "Extracted Annotations" are always empty.
So it would be nice to either extend the documentation if I`m doing something completely wrong or there is a bug :)

What ive done:

1. Followed the setup instructions:
  - Exported collection "Test-Collection" from zotero as json
  - Setup plugin and referenced the json (additionally added output folder test/p

[2022-01-15 21:40] stefanopagliari commented on #16
Hi. Could you please share the json so that I can try to replicate the problem?

[2022-01-15 21:57] eliasws commented on #16
Hi, sure!

[Test-Collection.json.zip](https://github.com/stefanopagliari/bibnotes/files/7875965/Test-Collection.json.zip)

[2022-01-15 23:36] stefanopagliari commented on #16
Thank you. I was able to replicate the problem, which hopefully means I can fix it. Any chance you could also send me a screenshot of the "highlight" and "add note"  from the  PDF in the Zotero reader, as well as of your settings?

[2022-01-16 09:12] stefanopagliari commented on #16
Actually, I found the problem. It was a silly coding mistake in the code. I will push an update soon that fixes the problem. I think the error was limited to the function creating a task out of an outline (e.g. "todo" at the beginning of the comment), so the other annotations should work. Please let me know if that is not the case.
Thank you for flagging this problem

[2022-01-16 09:16] #16 closed

[2022-01-16 09:17] stefanopagliari commented on #11
I have introduced this feature in a new update that I will release in a few days.
Yes, I will also submit this as a community plugin once I have ironed out the remaining bugs that are on my lists.

[2022-01-16 09:17] #11 closed

[2022-01-16 11:17] stefanopagliari commented on #12
I have fixed this. I will release the patch version in the next update in a few days

[2022-01-16 11:17] #12 closed

[2022-01-16 11:39] stefanopagliari commented on #14
In the upcoming version, I have introduced three different template fields to add to your note the keywords/tags extracted by zotero ({{keywordsZotero}}), the tags/keywords extracted from the PDF ({{keywordsPDF}}), and both sets of keywords/tags ({{keywords}} or {{keywordsAll}

[2022-01-16 16:13] eliasws commented on #16
@stefanopagliari Other Annotations did also not work (but I can double check or provide an example). Probably it should be enought to just remove the "todo" in that case to test it, right?

[2022-01-16 18:02] stefanopagliari commented on #14
Regarding the authors, I have added in the next version a setting that will allow you to specify the format of the name of the authors/editors

[2022-01-16 18:02] #14 closed

[2022-01-16 18:03] stefanopagliari commented on #16
Yes, in that case removing "todo" will solve the issue.

[2022-01-16 18:06] stefanopagliari commented on #7
I have added this feature in the new version that will be released next week, together with the option to import pictures.

[2022-01-16 19:58] eliasws commented on #16
FYI, it tried again without the "todo", but still got no annotations.

[Test-Collection.json.zip](https://github.com/stefanopagliari/bibnotes/files/7877816/Test-Collection.json.zip)

[2022-01-17 16:42] Archie-2021 opened #17 "Setting to convert a certain color of highlight to a certain format doesn't work"
i change the setting for yellow highlight to H4 and nothing happens

per your request i am attaching an example of the highlights. i will send more, but it is easiest because it is the on i was testing this plugin on.
[Exported Items.zip](https://github.com/stefanopagliari/bibnotes/files/7883496/Exported.Items.zip)

[2022-01-18 07:50] Rhydderch commented on #7
Awesome. Looking forward to this update.

[2022-01-19 00:12] dummifiedme opened #18 "Unable to create literature note in Linux"
Could import the BibTex Json but couldn’t create a literature note.

The json library imports quite well and contains the highlights for that file too.
![image](https://user-images.githubusercontent.com/68785729/150039163-c6583790-0e3f-41b9-be56-447878d46958.png)

Shows a success notification, but there is no file to be found anywhere across the vault.
![image](https://user-images.githubuserconten

[2022-01-19 07:02] LeePheon opened #19 "unable to create a note"

[2022-01-19 07:09] LeePheon commented on #19
can import json file(and i can see imported files in the vault) but can not select notes in OB.
This is the json file:
[My Library.json.txt](https://github.com/stefanopagliari/bibnotes/files/7894803/My.Library.json.txt)

And I am your fan who asked you here:
https://forum.obsidian.md/t/bibnotes-formatter-new-plugin-to-export-and-format-annotations-from-zotero-into-obsidian/29920/69?u=leepheon

Wis

[2022-01-19 10:02] stefanopagliari commented on #19
Hi,
What is "OB"? I was able to import the note. Could you maybe copy here the data.json file found in the folder of the plugin so that I can see the settings?
![Screenshot 2022-01-19 at 10 01 36](https://user-images.githubusercontent.com/30759878/150108301-1db5a325-3af2-4b36-a721-63586f81cbc3.png)

[2022-01-19 11:42] stefanopagliari commented on #18
I have released a new update (v. 09). Could you please try this version?

[2022-01-19 11:56] stefanopagliari commented on #7
I have released a new version that includes this feature. You will need to add to your template the placeholder {{UserNotes}}.
Could you please test it and let me know if it works as planned?

[2022-01-19 14:55] stefanopagliari commented on #16
I have pushed a new version online [0.9]. Can you check if that solves the problem? You will need to add {{PDFNotes}} to your template

[2022-01-19 14:56] stefanopagliari commented on #10
I have introduced this change in the new release 0.9

[2022-01-19 14:56] #10 closed

[2022-01-19 14:57] stefanopagliari commented on #13
Could you please check if the problem persists in the new release 0.9?

[2022-01-19 16:28] Archie-2021 commented on #17
it was like this, which i think is the same as what you said:

![image](https://user-images.githubusercontent.com/85870778/150172808-b4f9dd7b-df31-4df9-862d-0acf1f76d728.png)

[2022-01-19 16:30] panyuz commented on #7
Thanks for your work. the Usernote field works fine.

Currently, the usernote only works if the extraction highlighting is on

Is it possible to remove this restriction?

[2022-01-19 16:31] panyuz opened #20 "Bigger input box for custom template"
Now is too small

[2022-01-19 16:49] Archie-2021 opened #21 "italic "NA" causes invalid yaml"
Placing NA for data not available cause invalid yaml because NA is wrapped in **.

i reported it on obsidian forum, but there are too many stuff going on developing this plugin so i though a proper thread is necessary. i was excepting this being fixed in latest update tbh.

thanks

[2022-01-19 18:47] Kullenej opened #22 "Make changes to admonition-template"
Thank you for a wonderful plugin! Good job.

I thought I saw this feature request in here before, but now I don't see it so here we go:
Please make it possible to make changes in the admonition-template!

[2022-01-19 20:27] annargrs opened #23 "Bug: notes not saved"
Ubuntu, Obsidian 0.13.21

When I try to create a note - it successfully pulls in data from zotero, but then fails to write it in obsidian, with “Error: ENOENT: no such file or directory, open path/to/file.md” (without slash in the start of the path). That happens even if the file in question exists.

Console output:
[code]

[2022-01-19 21:03] annargrs commented on #23
Oops, apparently this already was reported by another Linux user: #18.

[2022-01-20 00:42] panyuz opened #24 "Update library and creat new literature note( all library) does not work in both 9.01 and 9.02"
version 0.9 works fine.

version 9.01 and 9.02, Update library and creat new literature note( all library) only generate 3~4 liternature notes, most of notes are loss

[2022-01-20 09:45] dummifiedme commented on #18
I did, and it didn't work.

And I think a lot of similar issues just popped in by many other users too :|

Something went wrong after v8.0 I guess. Waiting for it to get fixed! :)

[2022-01-20 09:46] dummifiedme commented on #24
#18 Same issue but for me it didn't create any note.

[2022-01-20 10:43] stefanopagliari commented on #23
Ok, so it looks like there is problem with exporting notes in Linux. I need to figure out whether it just a problem with the path where the file is being exported or a problem with file access. I have released a new version 0.9.03 that uses a different library to deal with the file path. Could you please check if that solves the problem?

[2022-01-20 10:57] stefanopagliari commented on #18
Was this working in Version 0.8?
I need to figure out whether it just a problem with the path where the file is being exported or a problem with file access (if v 0.8 worked, then probably it is an issue with the file path). I have released a new version 0.9.03 that uses a different library to deal with the file path. Could you please check if that solves the problem?

[2022-01-20 11:02] annargrs commented on #23
Yes, the notes now get exported for me. Many thanks!

[2022-01-20 11:04] panyuz commented on #24
version 9.03 works again. Thank you !

[2022-01-20 11:04] #24 closed

[2022-01-20 11:06] stefanopagliari commented on #23
Thanks. Another linux user alerted me that the images exported from the Zotero Beta reader are not exported, and I think it is an issue with the file path where the image is stored in Linux.

[2022-01-20 12:02] dummifiedme commented on #18
I had tried v8.0, didn't work either. Nor does the latest v9.0.3
The path it shows in the console is correct, doesn't seem to be a problem there.

Also, I searched online for that error, I might sound stupid, but is node.js involved anywhere? Every solutions seems to be pointing at `npm install` and when I last checked, I don't have it installed on my linux.

Direct me, if I should install it for

[2022-01-20 14:12] annargrs commented on #23
Confirming that.
Possibly unrelated: I actually don't get the highlights either. All annotations, including images, are supposed to be in the {{PDFNotes}} variable, right?

[2022-01-20 15:11] LeePheon commented on #19
[data - Copy.json.txt](https://github.com/stefanopagliari/bibnotes/files/7906296/data.-.Copy.json.txt)

[2022-01-20 16:03] LeePheon commented on #19
This is the data.json file.
And i updated the latest version , but i can not import either.
i presume its setting would be wrong.

[2022-01-20 19:06] MichaBrugger commented on #22
It would definitely be cool if we could set our own ad templates. As a quick 'hack' in the meantime: You could overwrite the admonition standard format for the given templates in admonition itself. Just create new versions of `ad-quote`, `ad-note` or `ad-abstract` according to your needs :)

[2022-01-20 20:55] stefanopagliari commented on #20
Thank you @MichaBrugger. This looks much better

[2022-01-20 20:55] #20 closed

[2022-01-20 21:23] stefanopagliari commented on #21
Thanks for flagging this.
I have released a new version (0.9.04) where I have replaced the "Replace with NA" with "Replace with custom text", so that you can set a value that does not conflict with the yaml requirements. I hope this solves the problem

[2022-01-20 21:23] #21 closed

[2022-01-20 21:28] stefanopagliari commented on #18
node.js is involved, and the library (code) dealing with creating the note is from node.js but this does not require you to install anything.
I have created a debugging mode to be able to see the logs. Could you please:
- install version 0.9.04
- at the bottom of  the settings, activate the debugging mode
- export a single reference. You will be prompted to create a txt file
- share the file with

[2022-01-20 21:45] stefanopagliari commented on #13
Could you please check if the problem persists in the new release 0.9.04?

[2022-01-20 21:52] stefanopagliari commented on #7
Are you referring to the "extract annotations" setting? You are right that the settings is now confusing since these are two different types of notes, But  it would require quite a bit of changes in the structure of the code. Could you help me to understand why does this make a difference? Ultimately if you do not add {{PDFNotes}} to the template, those notes would not be extracted.
And maybe, thi

[2022-01-20 21:54] stefanopagliari commented on #23
@annargrs, are the notes not getting exported? I think I understood from your comment above that this had been fixed.

[2022-01-20 21:58] stefanopagliari commented on #17
Yes, those settings are correct. With those settings on, the highlights within Zotero should have the colour before them (see image). The plugin picks up that colour description and use it to format the highlight. But I could not see that in your json. How does the note looks like in Zotero?
![Screenshot 2022-01-20 at 21 56 39](https://user-images.githubusercontent.com/30759878/150428659-4e14fc65-

[2022-01-20 21:59] annargrs commented on #23
Sorry for the ambiguity. Yes, the notes are created (which they weren't before), but only the metadata is there. The content of {{PDFNotes}} variable is not.

[2022-01-20 22:00] stefanopagliari commented on #22
I see three options here: 1) create a setting designed to customise the look of the admonition blocks in the temn

[2022-01-20 22:05] stefanopagliari commented on #23
That is good news, because at least it is not an issue of not being able to export files on linux.
I would be happy to debug that but I will need to see the logs to replace the problem. Could you please:

- install version 0.9.04
- at the bottom of the settings, activate the debugging mode
- export a single reference. You will be prompted to create a txt file
- share the file with me here (assumin

[2022-01-21 01:14] panyuz commented on #7
yes, I'm referring to the “extract annotations” option.

When I first configured it, this option was a bit confusing to me. I think annotation and usernotes are not the same. I eventually understood how the plugin worked though, so that's not an issue now.

[2022-01-21 08:02] dummifiedme commented on #18
I installed the v9.04 and it worked!! Works fine!
Thanks!

PS. Do you want me to share the debug.txt anyway?

[2022-01-21 08:49] Rhydderch commented on #13
Hi, from my initial testing I did not find any issues! Thanks for the
updates.

On Thu, 20 Jan 2022, 22:45 stefanopagliari, ***@***.***>
wrote:

[2022-01-21 08:58] stefanopagliari opened #26 "Problem with exporting correct in-text citation"
https://forum.obsidian.md/t/bibnotes-formatter-new-plugin-to-export-and-format-annotations-from-zotero-into-obsidian/29920/107?u=stpa
![8417ec5ff54d560207ddbeb0aa72705042e3b950_2_221x375](https://user-images.githubusercontent.com/30759878/150497426-fd17cbd2-e226-44c0-998f-06c7ed073603.png)
![19f0344cc20e1eaa58eee182a945db561789a1bf_2_255x375](https://user-images.githubusercontent.com/30759878/1504

[2022-01-21 08:59] stefanopagliari commented on #18
No, if it works, then there is no need for that

[2022-01-21 09:10] stefanopagliari commented on #19
There is nothing in the settings that sounds unusual (assuming that "Scond SCI.json" is the actual name of the json file).
Can you clarify what do you mean by "can not select notes in OB"? when you launch the command "select/update note" can you see a list of sources?
I think to help you figure out the problem, I need to see some console logs. to do so, please
- install version 0.9.04 (or later)
-

[2022-01-21 09:11] #7 closed

[2022-01-21 09:12] Archie-2021 commented on #17
oh, i had no idea that it should be like this. definitely my setting is wrong then. i am having annotations in separate notes tho, i guess it is different with what you are showing too:
![image](https://user-images.githubusercontent.com/85870778/150499544-8a88e46a-7694-4466-9a0d-dd0f082773ef.png)
![image](https://user-images.githubusercontent.com/85870778/150499596-a6aa90b2-d21e-4ec6-86bb-3abd7fad

[2022-01-21 09:14] dummifiedme commented on #18
Thank You :)

[2022-01-21 09:20] stefanopagliari commented on #17
Yes, I think that is the reason.
My suggestion solution would be:
-  de-activate the setting that groups the annotations by colour
- re-export the note
- in the template within BibNotes you add the placeholder collecting the annotations of that colour. These are {{Yellow}, {{Red}}, {{Green}}, {{Black}, {{White}}, {{Gray}}, {{Cyan}}, {{Magenta}}, {{Orange}}

[2022-01-21 10:47] dummifiedme opened #27 "[Feature Request] Toggle for Comments before Highlights"
For someone who uses dataview extensively, I tend to add Keys like "Definition:: ", "Fact:: " etc. before the highlights.
There is an option to add '%' in the comment to make them appear before highlights, but I would really like to have it as a default.
Can it be worked out?

Thanks

[2022-01-21 11:04] annargrs commented on #23
Here's the debugout file: https://u.pcloud.link/publink/show?code=XZV6oiXZrlfLgHMPM07vbDOqxqJ0g4QSfUjy

As you can see, the plugin does retrieve all the annotations from zotero (I made a sticky note, test highlight, test image annotation, test highlight+note, test image annotation+note). But then only the notes get written into the generated note.

[2022-01-21 11:09] Archie-2021 commented on #17
it works now, on i tested it and my old way of doing it was not working on the new version at all. it causes a new problem tho. zotfile doesn't attach color name to the sticky/pop up notes a lone. it used to work by now they don't imported at all. is there a specific  placeholder that i should use?

it is like this in zotero:
![image](https://user-images.githubusercontent.com/85870778/150517091-05

[2022-01-21 11:10] 133501 opened #28 "Images export from non-default data directory not working"
When Zotero’s ‘data directory location’ is set different than the default C:\Users… image export does not work. Only comments to the images get displayed.
If there is no comment to the picture, an empty line is generated.
This probably also breaks the pdf link creation.
I’m currently on Zotero 5.0.97-beta.63, bibnotes 9.02 on Win10.

Attached in the zip file are My Library.json and a print screen

[2022-01-21 11:14] Archie-2021 opened #29 "dynamic name for folder"
like setting a folder of each paper so that all the relative notes including bibnote note could be stored in it, accepting url like: vault/library/{{citekey}}/annotations {{citekey}}.md

[2022-01-21 11:17] stefanopagliari commented on #28
Yes, I have added that setting last night but I have yet to make any use of the information provided. Currently the script look for the path of zotero/storage in the json file (from the path of the attachment), so once finalised, that field will be used to identify the storage folder in the case it is different from where the pdf files

[2022-01-21 12:03] Archie-2021 opened #30 "update doesn't work"
it just create the note but doesn't update it anymore, deleting and recreating the note imports the new version. i am now on 0.9.04

[2022-01-21 12:45] dummifiedme commented on #18
@stefanopagliari Should I raise it as another issue?
(I think its the same issue, but with images this time. Needs the same magic you worked out earlier :p)

[2022-01-22 11:23] KALKI-the-avataar opened #31 "Only importing 1st image instead of many more"
[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7918207/debugout.txt)

this the debug text

[2022-01-22 11:25] KALKI-the-avataar commented on #31
I am on windows 10 and zotero version is 5.0.97-beta.63+035aac30f

[2022-01-22 11:53] stefanopagliari commented on #28
I've pushed a new version (https://github.com/stefanopagliari/bibnotes/releases/tag/9.05) that should read the data directory location from the settings. Could you please try this version and let me know?

[2022-01-22 12:22] stefanopagliari commented on #17
I could create a specific placeholder only for the sticky notes. Would that solve the issue?

[2022-01-22 12:40] stefanopagliari commented on #31
HI,
Could you also send me the json file from extracting that reference with multiple images? Thanks

[2022-01-22 13:10] KALKI-the-avataar commented on #31
It is saying it does not support this file type. May I send you it at discord

[2022-01-22 13:10] KALKI-the-avataar commented on #31
![image](https://user-images.githubusercontent.com/80031164/150639793-a726a261-af18-44c5-9506-3f1b75f0dd60.png)
this time it was showing this error in the console

[2022-01-22 13:11] KALKI-the-avataar commented on #31
I am trying to extract 15-20 images and this time it extracted 2 only
![image](https://user-images.githubusercontent.com/80031164/150639828-df38af21-67cd-4243-b11d-1fc675e171d7.png)

[2022-01-22 13:32] stefanopagliari commented on #31
That error in the console should be from a different plugin (breadcrumbs maybe?)

[2022-01-22 13:42] stefanopagliari commented on #31
The problem was related to the fact that Obsidian had not indexed the new image created. Tinkering with the embed (e.g. remove and put back the !) will make Obsidian check again and recognise the file.

[2022-01-22 13:42] #31 closed

[2022-01-22 16:00] dummifiedme commented on #18
I tried the latest that was available, v0.9.07

- Images did not transfer/load in the note.

Here is the debugging file:
[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7918687/debugout.txt)

[2022-01-22 16:08] stefanopagliari commented on #18
Two questions:
- Is there any message in the console.log when the plugin fails to import the image? (Obsidian --> View --> Toggle Developer Tools --> Console)
- What happens is turn off the setting "Copy File of the Image into the Obsidian Vault"?

[2022-01-22 16:30] stefanopagliari commented on #23
@annargrs, would you be able to share the json file as well?

[2022-01-22 16:38] dummifiedme commented on #18
![image](https://user-images.githubusercontent.com/68785729/150647363-98242857-60c9-41a5-b0bc-340921735672.png)

Then it shows the images correctly. The umages are not copied. In my opinion, it is the same error we saw with files not being created.

[2022-01-22 16:48] stefanopagliari commented on #18
Thanks, @MichaBrugger is facing the same problem on Linux

[2022-01-22 17:36] #17 closed

[2022-01-22 18:45] dummifiedme commented on #18
Yes. The path is correct and absolute.
How did you fix the previous issue with the files? Is there anything specific you did? It is the same error again but with the images.

PS. Can we open this issue? I am not getting notified :(

[2022-01-22 18:56] stefanopagliari commented on #18
The export of the note is done in this way:

[code]

[2022-01-22 20:24] MichaBrugger commented on #18
I'll make a PR with a fix in a few minutes. I'm just trying to figure out something else real quick 👍🏼

[2022-01-22 20:39] Archie-2021 commented on #17
i don't think so, because that cause more separation between note. if you can add a setting to consider all sticky notes/ non color id highlights as a certain color that could help. i can already do that by adding the color to the actual content of the note like stating the note with "(Gray) - .. and it works actually. but it is a lot of fiction to be done for every single sticky note.

[2022-01-22 22:45] brozena commented on #30
Thank you for this project! Starting out in a PhD and been hoping someone would tackle the refresh-note problem...

Seem to have the above issue as well, but not currently able to replicate the delete/re-create note fix.

I'm creating a new comment or highlight using Zotero PDF viewer, exporting the library to a json in the Obsidian root folder, then attempting to create a note. Those comments/hig

[2022-01-23 10:08] stefanopagliari commented on #27
I have added this feature in version 0.9.08. The default setting is that the code adds a ": " between the comment and the highlight. I can create another setting to customise that if needed

[2022-01-23 10:10] stefanopagliari commented on #18
@dummifiedme  could you please test version 0.9.08 and let us know if this works now?

[2022-01-23 10:15] stefanopagliari commented on #30
@Archie-2021 and @brozena, I realise that the "save mode" does not work well at the moment, or at least is not able to accommodate a broader range of changes to the note than the one I'm using. To be able to fix it, it would be helpful if you could post here some screenshots of before/after updating the note.

@brozena, the issue of the fact that the highlights;/comments are not showing up in Extr

[2022-01-23 12:21] dummifiedme commented on #18
Same error :(
Exactly the same error log as int he screenshot above.

[2022-01-23 13:25] stefanopagliari commented on #18
Is the path in the second file path the same? Could you please post the logs again?

[2022-01-23 13:40] stefanopagliari commented on #18
@MichaBrugger Does the last version work for you?

[2022-01-23 15:59] Archie-2021 commented on #30
sure, i will send some soon

[2022-01-23 16:47] dummifiedme commented on #18
I didn't understand which path. I had just given my attachment folder in the settings. Whatever the setting was, it is the same for both the cases.
![image](https://user-images.githubusercontent.com/68785729/150688768-b0c7ac0c-d36d-4ce1-babe-77c8761ff613.png)

[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7920888/debugout.txt)

These are the settings:
![image](https://user-image

[2022-01-23 19:23] stefanopagliari commented on #18
Thank you. If you have a second, could you try [this version](https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.071) and post here the console logs before the error?

[2022-01-23 19:36] cztuc commented on #18
Could zotero version be the reason?
I can confirm that zotero-__beta__ (5.0.97-beta.63+035aac30f) + obsidian (0.13.19) + bibnotes (0.9.07) works well on my Ubuntu 18.04 and 20.04 machines.

[2022-01-23 20:05] rolph-recto opened #33 "link to local file is broken"
It looks like the generated link to the local file for an entry is broken: it needs three forward slashes after the `file` URI scheme name but it only has two.

For example:

![image](https://user-images.githubusercontent.com/1813560/150695993-0838ae47-d421-4189-81f9-d0e6d5eb6ad8.png)

When I click on the link `Jia et al_AURA.pdf` link, it does not open. Changing `file://home/rolph...` to `file://

[2022-01-23 20:09] stefanopagliari commented on #18
Are the images in there if you try to copy them in the vault?

[2022-01-23 20:10] stefanopagliari commented on #33
Thanks for flagging this. I will fix this in the next update

[2022-01-23 20:16] cztuc commented on #18
Sorry for my misleading comment above.

Image linking (with "copy image to obsidian" off) is fine; but it gives errors when the option is toggled to on. The error message is as:
![Screenshot_bibnotes](https://user-images.githubusercontent.com/69794131/150696377-d1f2ee85-90ce-4b96-bed9-3ea449df6dc2.png)
Note slash `/` is missing at the very beginning of the target path.

[2022-01-23 20:26] stefanopagliari commented on #18
Thank you @cztuc.

If you have a second, could you try [this version](https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.071) and post here the console logs before the error?

We have pushed a fix yesterday to add the backslash at the beginning but I need to understand why it is not working as planned on Linux

[2022-01-23 20:32] cztuc commented on #18
Yes, the screenshot was captured with version 0.9.071 (though `manifest.json` states: "version": "0.9.08"). Sorry again for not making it clear.

[2022-01-23 20:45] stefanopagliari commented on #18
Thanks. 0.9.071 is the same as 0.9.08 with a couple of console.logs added to get to the bottom of what is happening here.

[2022-01-23 20:55] cztuc commented on #18
![1](https://user-images.githubusercontent.com/69794131/150697585-eec38667-52ed-4269-9773-bb75bcc67c0d.jpg)
![2](https://user-images.githubusercontent.com/69794131/150697586-ebe877dc-3a62-4b4b-b7f0-7056528ffb9e.jpg)
[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7921392/debugout.txt)

[2022-01-23 21:04] stefanopagliari commented on #18
The part I was interested in should read: "pathImageNew before systemcheck" ... "systemcheck"..."					"pathImageNew after` systemcheck: ")

[2022-01-23 21:17] cztuc commented on #18
[screen1.log](https://github.com/stefanopagliari/bibnotes/files/7921452/screen1.log)
Here are all the logs in `.txt`. I'm sorry I didn't see any of the strings you mentioned.

[2022-01-23 21:32] annargrs commented on #23
Here's the json entry for the paper I used as an example. If you need the full file, could we do that by email?

[code]

[2022-01-23 21:35] dummifiedme commented on #18
v9.071 throws the same error. Here's the debug file:
[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7921481/debugout.txt)

[2022-01-23 21:44] dummifiedme commented on #18
@cztuc @stefanopagliari

I did an experiment. I opened a trial vault on the `home` drive.
And it worked fine with all the images copied to VAULT.

It seems like, when the Vault is in other drive (mounted, hence 'run/') it fails.

I don't know the know-how. But maybe it is helpful in pinpointing the issue to an extent?

[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7921496/debugo

[2022-01-23 22:33] stefanopagliari commented on #23
@annargrs, I can see from your json that the annotation has not been exported (see ```notes": []```) into the json file.
The plugin is not able to export the notes from the PDF. If you have used the PDF reader in Zotero beta you will need to right-click the source in Zotero and select "add note from annotation". This will generate a note within your item.
<img width="581" alt="Screenshot 2022-01-2

[2022-01-23 23:17] dummifiedme commented on #27
If we can customise that, the it would be easier for us too without any confusion and a consistent system for later too.
I would prefer if we leave any addition to the highlight or the comments to the user
We already have settings for:
- Page link/Author
- Before and After characters for highlights and comments. It should be enough, imo.
- etc.

Whatever you feel like is most suitable for a user.

[2022-01-23 23:20] stefanopagliari commented on #27
Yes, I have added that in the latest version

[2022-01-23 23:20] #27 closed

[2022-01-23 23:24] dummifiedme opened #34 "[Feature Request] Process multiple commands as per the sequence"
Currently, we are correctly processing the symbols/keywords assigned for continuation, Headers, todo, keywords, etc with +. '#', 'todo', % etc.

While taking notes and highlights, I realised, it would be cool if it could process multiple of these symbols. Although my use case has already improved with #27 as I earlier ad to use `+` and `%` simultaneously in a same comment to make (HOPE) it happen.

[2022-01-23 23:30] dummifiedme opened #35 "[Feature Request] Toggle to make `+` highlights/comments into indented (tabbed) list"
For someone who is using bullets before the highlights and comments, it would be amazing if user is given an option to keep the `+` marked highlights/comments to be added as a tabbed/indented bullet. It will make it readable for many user who prefer taking notes in outlines.

Or we can have some sort of arrangement where we can specify it to be a indented bullet with a symbol say `+-`.

PS. Just s

[2022-01-23 23:31] dummifiedme commented on #27
Amazing :)

[2022-01-23 23:33] dummifiedme opened #36 "[Feature Request] (Toggle) Remove bullets before the extracted Headers"
I noticed that every header on the extracted text was preceded with a bullet (`-`) when we have that system, which is expected and acceptable to obsidian. I was just wondering if it would be better to get rid of bullets in case of headers so it allowed for better refactoring.

[2022-01-23 23:44] dummifiedme commented on #27
Which version is the latest one? v0.9.08 or v0.9.071

[2022-01-24 01:35] kabo1234 commented on #26
Hi there,

apologies for the delay! I think it must have something to do with the ZotFile extractions - when I re-extracted the annotations with the beta reader, and then imported the Stoneman reference, everything worked as expected (every quote received it's quote hashtag, and the page numbers were properly rendered).

I tried it on the Sheehan reference as well, and that also fixed it. Not sure

[2022-01-24 07:27] stefanopagliari commented on #27
It is in both

[2022-01-24 07:30] stefanopagliari commented on #26
Is this a recurrent issue across multiple sources extracted with Json? If you share the json file from extracting only that source I can try to replicate it and fix it, unless it is a one off thing

[2022-01-24 09:02] stefanopagliari commented on #36
Could you show me a screenshot? I had already coded the "transform to Header" transformation so that both the bullet point before the highlight and the citation after the highlight are removed

[2022-01-24 09:14] 133501 commented on #28
I've tested with 0.9.071 and it works!
Just small glitch. Comment in plugin setting is saying specify to "...\whatever\zotero\" but you have to specify "...\whatever\zotero\storage"
A BIG thank you for this!

[2022-01-24 09:37] kabo1234 commented on #26
It seems to be with Zotfile extracted annotations that are pre-existing, but I haven't checked extensively. If I re-extract, it seems to work fine

[2022-01-24 09:56] stefanopagliari commented on #35
Ok, so basically you are suggesting adding the option to place "   + " instead of "- " at the beginning of the highlight or comment (as a callable transformation and/or a global setting)? by tabbed you mean a "level 2 indent"?

[2022-01-24 09:59] stefanopagliari commented on #28
Thank you for checking.  "...\whatever\zotero" is enough. I have a line of code that adds "\storage" when this is missing

[2022-01-24 09:59] #28 closed

[2022-01-24 10:02] annargrs commented on #23
Ok this is poltergeist. I have re-exported with the notes. There is definitely a note in zotero, showing both highlights and images, and in json I have this:

[code]
This data is definitely read into the plugin, since the debug file contains it. But the exported note still only contains the notes on highlights and images, but not the highlights or images themselves:

[code]
So the highlights do se

[2022-01-24 10:02] stefanopagliari commented on #26
Thanks. I will close the issue for now but if it occurs again and the problem is not with the export done by Zotfile, please reopen it and I will take a look

[2022-01-24 10:02] #26 closed

[2022-01-24 10:06] stefanopagliari commented on #23
@annargrs. The plugin is parsing the text of the highlight directly from the json fie. If this is not happening at the moment, then for some reason it is discarding those highlights or not recognising them as valid highlights. The images instead are stored in the zotero database.
I will try to replicate the problem later and to fix it

[2022-01-24 10:10] 133501 commented on #28
If I do "...\whatever\zotero" I get this error:

![image](https://user-images.githubusercontent.com/52453026/150763112-e163ecbc-24ef-470c-aa9a-f836d4e75e53.png)

not sure why it does not recognize that \storage is missing

[2022-01-24 11:08] dummifiedme commented on #35
No, I mean. Instead of adding the two highlights in continuation, have them in the form of list.

**Example**

Currently:

[code]

What I am suggesting:

[code]

AND
The second highlight is currently added by `+` identifier. So, if some users want to have it both, we can have another symbol for indented lists. (`+-`)

Yes.

[2022-01-24 11:09] dummifiedme commented on #36
Yes, it was fixed lately, I just checked :)
 Thanks!

[2022-01-24 11:09] #36 closed

[2022-01-24 11:40] stefanopagliari commented on #27
Ok, check the latest version (0.9.09). It should look like thi
![Screenshot 2022-01-24 at 11 38 46](https://user-images.githubusercontent.com/30759878/150776589-f1dc72fc-0e4c-4419-b3ac-1ddd23c61e61.png)
s

[2022-01-24 11:42] stefanopagliari commented on #35
Ok, this is doable. I will add this to my todo list

[2022-01-24 11:46] stefanopagliari commented on #28
Thanks. I have edited the description in the setting to include the reference to the storage folder.

I'm not sure why this does not work
[code]
I will test it later on a Windows pc

[2022-01-24 11:47] dummifiedme commented on #27
Updated. Restarted. Still the same settings. Nothing changed.

[2022-01-24 12:38] dummifiedme commented on #18
Latest debug. I get notifs saying the images were not found in the zotero library.
[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7925547/debugout.txt)
![image](https://user-images.githubusercontent.com/68785729/150784283-6c5c124f-ab1c-4903-9b50-d1eca7b96bf6.png)

[2022-01-24 13:22] stefanopagliari commented on #27
If it is always on, % will become redundant

[2022-01-24 13:35] 133501 commented on #28
According to [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith) endsWith metod is case sensitive.
Do you think it could be the case since my folder si zotero and your code is searching for Zotero?
I'm not a programmer so I'm just guessing.

[2022-01-24 13:48] dummifiedme commented on #27
Ow. So there would be no way to push comment to the back.
Got it.

[2022-01-24 14:19] stefanopagliari commented on #28
That makes sense. I will change this

[2022-01-24 16:59] margotfonteyne opened #37 "Setting 'custom text before all comments' doesn't work"

[2022-01-24 17:01] margotfonteyne commented on #37
But 'custom text after all comments' does work. Weird.

[2022-01-24 17:30] stefanopagliari commented on #37
There was an error in the code. I think I fixed it in this new version: https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.091

[2022-01-24 18:05] brozena opened #38 "Creating/updating note with extracted highlights (Zotero PDF viewer)"
Have a PDF in Zotero that has a mixture of Zotfile extracted annotations and Zotero PDF viewer annotations. Wondering if this is the issue with a literature note being created as blank. It appears neither types of annotations are being read in.

Here is [debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7927820/debugout.txt) from the note creation. Thanks again for this project!

[2022-01-24 18:47] tim-hilde opened #39 "Zotfile Annotation not recognized"
As stated in the forum my zotfile annotations are not recognized by the plugin. I have attached the json file for one entry (json format is not allowed by GitHub, so I've changed to .txt)

This is how my annotations look in Zotero:
![e3517f2620a9eb4a0c0981962a5923491e2423d8_2_690x436](https://user-images.githubusercontent.com/44113468/150844809-a76ab06c-4adc-4f7c-a07f-5cf09c8d0f50.jpeg)

[Nihilism

[2022-01-24 18:48] stefanopagliari commented on #38
@brozena: are the extracted notes present within Zotero? Looking at the json file in the debugout.txt, I see that the content of the annotations have not been exported into the json file (see ` notes: [],`).

In theory, the plugin should be process multiple annotations for the same pdf one at the time. This means that you should bw able to create a note with the annotations extracted from the Zote

[2022-01-24 19:03] stefanopagliari commented on #39
I can see from the json file that the colour of the highlight is stored in the json file. This means that in theory that information can be used to then apply a certain formatting/transformation.

In order to do that, however, I need to understand what is the range of values that are possible. The zotfile settings list/export a handful of colours (red, yellow, gray, etc...). Here the values are ex

[2022-01-24 19:09] brozena commented on #38
They *are* present in Zotero, but having a look at its JSON export, they don't appear in `notes: []`

I'll do some more testing. Looks like this is breaking before your plugin is involved.

[2022-01-24 19:25] tim-hilde commented on #39
Yes, the highlighter color is set by the pdf app I'm using. I always thought the colors are defined as ranges so that different rbg values are recognized as "red" for example.
Should I change the color of my highlights corresponding to the ones defined by zotfile? I.e. {"Black": "#000000", "White": "#FFFFFF", "Gray": "#808080", , "Orange": "#FFA500", "Yellow": "#FFFF00", "Green": "#00FF00", "Cyan"

[2022-01-24 19:31] stefanopagliari commented on #39
I think you are right when you say that "the colours are defined as ranges so that different rbg values are recognized" but I do not know how Zotfile handles this. I will look at the code of that plugin for suggestion
 One option would be for you to change the colour of your highlight to the specific values set by Zotfile. The other would be to replicate the ranges adopted by Zotfile in the code o

[2022-01-24 19:42] tim-hilde commented on #39
I've just changed the red highlight in my pdf app to "#FF0000", but when extracting the annotations the note still is coded as: `"<p><b> (24.1.2022, 20:38:48)</b><p><p><span style='background-color:rgba(255,38,0,.25)'>Handbuch Ethik</span> [@balmer.etalFiveRulesThumb2016a, S. 73]</p>"`

[2022-01-24 20:28] stefanopagliari commented on #39
I'm puzzled by why your zotfile seems to work differently than mine and others I have seen. What version are you using? Have you changed any settings?

[2022-01-24 20:43] tim-hilde commented on #39
I'm using zotfile 5.0.16 and the Zotero beta. I've changed a few settings but nothing out of the ordinary I think:

<img width="1112" alt="image" src="https://user-images.githubusercontent.com/44113468/150861519-2c000bb3-6c55-416b-b066-fc1fb8775bc4.png">

[2022-01-24 20:57] stefanopagliari commented on #39
The value for "formatNoteTitleColor include "%(color)", which I think is the declaration of the colour in the exported string Bibnotes is processing. I don't know  why this is not then appearing in our notes.

The only difference between my settings and yours are those first two values that you have modified. I would maybe try to restore the default value for formatAnnotationHighlight, and re-extr

[2022-01-24 21:12] tim-hilde commented on #39
I've now resetted those values but I'm still getting this as output: `"<p><b> (24.1.2022, 22:08:30)</b><p><p>\"<span style='background-color:rgba(255,38,0,.25)'>Handbuch Ethik</span>\" ([@balmer.etalFiveRulesThumb2016a, S. 73])</p>"`

Settings now look like this:
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/44113468/150865610-b59d3c9e-247a-409d-a8bb-c9ff7ebeb025.png

[2022-01-24 21:17] stefanopagliari commented on #39
The only explanation I can come up with is that the colours exported by your highlighter are not recognised by Zotfile as belonging to one of the predefined categories, but honestly I have not looked under the hood of Zotfile

[2022-01-24 22:28] tim-hilde commented on #39
Well actually I've changed the highlighter'a color to the one defined in `pdfExtraction.colorCategories`, so that can't be it

[2022-01-24 23:06] chrisgrieser opened #40 "Bug: `{{UserNotes}}` not imported by the plugin"
Here is a sample (the format is BetterBibTex JSON, I only had to rename it to `.txt` because GitHub does not accept JSON attachments.)

It's one entry which has a pretty long note that I can see in Zotero. (line 127). When importing with Bibnotes, it is not recognized. I set the Template in the BibNotes settings to "Plain" to make sure it wasn't an spelling issue on my end, but the value is still

[2022-01-25 07:52] margotfonteyne commented on #37
I tested it and I'm afraid it still doesn't work...

[2022-01-25 09:04] tim-hilde commented on #39
Update: I've finally managed to make the color names appear in my Zotero note. I forgot that I had changed the zotfile xpi at some point to completely remove the color name 🤦

The note entry in the JSON file looks now like this:
`"<p><b>Anmerkungen herauskopieren (25.1.2022, 09:57:29)</b><p><p><span style='background-color:rgba(255,38,0,.25)'><strong>(Red)</strong> - Handbuch Ethik</span> [@balmer

[2022-01-25 10:31] stefanopagliari commented on #40
I fixed the code (I've yet to release the updated version)
![Screenshot 2022-01-25 at 10 27 56](https://user-images.githubusercontent.com/30759878/150959922-ee2588fd-272b-4e3e-9d90-8c16752a7b60.png).

Are the "\" marks end-of-line tags?  I could add a code to split the paragraph in different, but I'm not sure how to deal with other cases when the backslash has a different meaning

[2022-01-25 10:35] stefanopagliari commented on #37
Hi @margotfonteyne. I can't replicate the issue anymore because it does work on my end with isolated (sticky-notes) comments.
![Screenshot 2022-01-25 at 10 32 57](https://user-images.githubusercontent.com/30759878/150960845-658b7531-ca82-4a55-b296-e58fa42f0a34.png)
![Screenshot 2022-01-25 at 10 32 45](https://user-images.githubusercontent.com/30759878/150960847-b631fcd4-540d-4ab8-8ef6-32ce65056b5a

[2022-01-25 11:25] chrisgrieser commented on #40
yeah, those notes are somewhat badly formatted, cause they date back to a time I created them in Zotero, exported to BibDesk, exported back to Zotero, and then exported via Better BibTeX JSON 😅

So I am uncertain whether they are something that regularly occurs or something that just occurred to due frequent file type conversion. Hence, I am also not sure what to do with them. (Like, I was going t

[2022-01-25 11:39] stefanopagliari commented on #40
Ok. I see. I currently do not have any formatting applied to the user-generated notes, only separate formatting options for the highlights and comments. It would not be difficult to also create a menu with the same formatting options (e.g. bullet points, spacing, custom text, etc...) before or after the user note but I do not know how helpful that would be

[2022-01-25 11:44] stefanopagliari commented on #40
I think I fixed the issue in this version https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.10

[2022-01-25 11:45] chrisgrieser commented on #40
Yeah, I would simply leave it be without formatting options, since my case is quite special. Leave formatting option to Feature from others :)

[2022-01-25 11:49] stefanopagliari commented on #40
When you have a second, could you please test whether the latest version works solves the problem on your end?

[2022-01-25 11:54] chrisgrieser commented on #40
Yeah, just did. Updated to 0.9.10, tried the sample json from above again and the with template set to "Plain", and the `{{UserNotes}}` is still missing :(

[2022-01-25 12:00] stefanopagliari commented on #40
IS there anything in the console logs after you process Abbott1988a?

[2022-01-25 13:27] tim-hilde commented on #39
Another update: Somehow the plugin started to import the notes. Now everything works just fine 👍

[2022-01-25 13:27] #39 closed

[2022-01-25 13:38] chrisgrieser commented on #40
I turned on the debugoutput and attach it here. Also, I used "testtesttest" as replacement for missing values, and `{{UserNotes}}` does not get get that value.

[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7933924/debugout.txt)

[2022-01-25 13:54] margotfonteyne commented on #37
Sure, here you go!

[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/7934098/debugout.txt)

[2022-01-25 15:38] stefanopagliari commented on #39
Ok, good news (I guess). I will close this for now but let me know if you would like me to look at this again

[2022-01-25 16:14] tim-hilde opened #41 "Add option to append citekey plus page number"
Would be great if you added the option to have a pandoc format ([@citekey, p. {page}]) as the highlight citation format.

[2022-01-25 16:22] stefanopagliari commented on #41
Good idea. Only the square brackets or also the ()?

[2022-01-25 16:24] tim-hilde commented on #41
Nice to hear! Only the square brackets

[2022-01-25 16:37] stefanopagliari commented on #41
This is doable. I usually wrap the reference around square brackets to link back to Zotero. So, (author, year) is really [(author, year)](url_to_zotero). With a panic reference this end up becoming [[@citekey, p. pagenum]](link to Zotero). I'm not sure how that would be treated by pandoc.

[2022-01-25 18:08] MichaBrugger opened #42 "Irregularities when applying custom styling to highlight chains"
As discussed earlier I found some irregularities in the application of highlight- and comment styling:

### Highlights
**Issue:** As far as I can tell these things are only related to the append highlight (using the '+' sign) setting. When appending comments, everything set in the custom text settings (see ref 1) are applied fully to the leading comment (including the 'after' part) and half (only

[2022-01-25 18:10] tim-hilde commented on #41
Maybe it'd be best to give the option to link to the PDF? Pandoc just ignores that, so there's no problem with that, but Obsidian doesn't recognize it as a link. Instead it recognizes the wikilinks. Personally, I think linking to the PDF is not necessary.

[2022-01-25 18:55] tim-hilde commented on #39
I have another addendum to make:

I've noticed that if I change the value of `extensions.zotfile.pdfExtraction.formatAnnotationHighlight` from `<p>"%(content)" (%(cite))</p>` to `<p>"%(content)" %(cite)</p>` the plugin doesn't recognize annotations anymore. May have to do with the fact that I've changed what `%(cite)` looks like but I don't have the issue when using `<p>"%(content)" (%(cite))</p>`

[2022-01-25 20:18] tim-hilde commented on #39
The same is true when I change `extensions.zotfile.pdfExtraction.formatNoteTitle` to be blank

[2022-01-25 21:25] stefanopagliari commented on #18
Could you please check if the problem is solved by version 0.9.11 (https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.11)?

[2022-01-25 21:26] stefanopagliari commented on #33
@rolph-recto, could you please check if the issue is fixed in the latest version (https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.11)?

[2022-01-25 21:31] cztuc commented on #18
Yes, I see images now in my obsidian Vault. Thanks @stefanopagliari !

[2022-01-25 22:00] stefanopagliari commented on #18
It was actually @MichaBrugger who fixed this.
@dummifiedme, could you please check as well? If the problem is solved please close the issue

[2022-01-25 22:04] stefanopagliari commented on #37
@margotfonteyne, I see in your logs that the custom text is present in the settings but not in the output. I am failing to replace your issue. On my end it looks like this
![Screenshot 2022-01-25 at 21 54 05](https://user-images.githubusercontent.com/30759878/151066171-bbafb2b7-63d6-431a-9f54-bd15679a63f0.png)

What I could do is to look for additional cues in your console logs. To help me, could

[2022-01-25 22:05] stefanopagliari commented on #41
@tim-hilde, I have added this in the latest version. You need to select citation Pandoc in the settings. Could you please test it and close the issue if it works?

[2022-01-25 22:06] stefanopagliari commented on #40
@chrisgrieser, when you have a moment can you test the latest version to see if {{UserNotes}} appear? @MichaBrugger spotted a silly mistake in my code

[2022-01-25 22:07] stefanopagliari commented on #38
Ok, I'm closing this for now since the issue seems to be related to Zotero/BBT rather than the plugin, but feel free to reopen if you want me to check something

[2022-01-25 22:07] #38 closed

[2022-01-25 22:25] dummifiedme commented on #18
@stefanopagliari Works like a charm! Thanks for the efforts! Really appreciate it :)
@MichaBrugger, thanks to you too :))

[2022-01-25 22:25] #18 closed

[2022-01-25 22:32] dummifiedme opened #44 "[Feature] Minor improvements to the image positions"
For someone who uses bullets as well as comments(caption) before the images, there could be a improvement (At least for me, I don't know if someone might disagree, hence just a request)

Currently, the images are places such that:

[code]

which renders images like

![image](https://user-images.githubusercontent.com/68785729/151070593-d5365008-7cbd-4198-a0a6-52539e9323a1.png)

Out of alignment.

i

[2022-01-25 22:36] dummifiedme opened #45 "[Bug] Bullets + Header in the case of Image captions"
A small bug around image captions containing `##`.

Sometimes a section just contains one image, so if it is possible, we can get rid of extra bullet in front of the `###` (headers)
![image](https://user-images.githubusercontent.com/68785729/151071299-4b8336c5-7fe6-470c-82fb-e78168191b95.png)

[2022-01-25 23:28] chrisgrieser commented on #40
can confirm, works now! Thanks @MichaBrugger also for pitching in!

My vault is now a few hundred literature notes richer :)

[2022-01-25 23:28] #40 closed

[2022-01-26 04:36] rolph-recto commented on #33
Yup it works now. Probably should have just filed a PR for this, but thanks for the speedy resolution.

[2022-01-26 04:36] #33 closed

[2022-01-26 07:47] stefanopagliari commented on #45
Did you put ### inside the comment to the image?

[2022-01-26 08:46] dummifiedme commented on #45
Yes.

It could be allowed right? All the bibnote keywords.

[2022-01-26 08:55] tim-hilde commented on #41
Yes, very nice! Thank you so much! Just one little improvement: There's a space missing between "p." and the page number. Otherwise its just so great to have this!

[2022-01-26 09:39] stefanopagliari commented on #41
Thanks. I have added it and it will be released with the next version

[2022-01-26 09:39] #41 closed

[2022-01-26 09:46] stefanopagliari commented on #42
I've merged your code into the main. Thanks for fixing this

[2022-01-26 09:46] #42 closed

[2022-01-26 09:55] stefanopagliari commented on #45
Currently the code only process one transformation for each highlight/comment/image. In the case of the image, it recognises the image and apply the transformation (import image, move the comment above/below), but it does not apply the transformation called at the beginning of the  comment (in your case transforming this into H4).

@MichaBrugger, this is what we discussed yesterday.
One potential

[2022-01-26 11:14] MichaBrugger commented on #45
@stefanopagliari I think the second option would definitely be more desirable, not only because it's more flexible right now, but also since it would allow for greater expandability/easier application of new use-cases in the future. Off the top of my head: I think we might be able to have two clusters: A) the "only work alone" cases, which can only be transformed once (except maybe for some specia

[2022-01-26 11:27] stefanopagliari commented on #45
Yes, I will try to write down the possible (current and possible) combinations to see what fits in the two clusters

[2022-01-26 13:11] aadimator opened #47 "[Feature Request] Add a field for Short Title"
Can you kindly add a field for "Short Title" as well, so it can easily be accessed using {{shortTitle}} field? Thanks

[2022-01-26 13:16] #47 closed

[2022-01-28 19:58] margotfonteyne commented on #37
I've just installed the latest version (0.9.12) and the issue seems to be solved!

![image](https://user-images.githubusercontent.com/61826286/151613108-864fbc0e-5222-4131-82d0-2f5ab55dab02.png)

[2022-01-28 20:45] #37 closed

[2022-01-28 20:48] chrisgrieser opened #48 "Bug: some `{{UserNotes}}` still not retrieved"
I was going through my imports, and noticed that quite a few of them are still missing the `{{UserNotes}}`. While most of the time, the user notes now get extracted, I'd estimate that it's about a third of the notes where notes aren't extracted even though they should...

Here is a sample of a file where user notes aren't retrieved.

[Sample.json.zip](https://github.com/stefanopagliari/bibnotes/fi

[2022-01-28 20:48] chrisgrieser commented on #48
also cc @MichaBrugger, I guess

[2022-01-28 20:54] MichaBrugger commented on #48
Ill have look tomorrow 👍🏼

[2022-01-28 21:22] stefanopagliari commented on #48
I found the line of code where the problem happens but I'm not sure why.

Basically [here](https://github.com/stefanopagliari/bibnotes/blob/a70e86a4b29080d2e95d6a526aa29e062c34de1a/src/main.ts#L2134), the code takes the template and replace the placeholder {{UserNotes}} with the extractedUserNote

 The value of the extractedUserNote here is "Überzeugung über zwei Routen (Dual-processing of human m

[2022-01-28 22:43] chrisgrieser commented on #48
I think from my side, you can basically remove the `$&` – I think it's some artifact from the fact that those notes haven been converted from one app format to the other much too often...

[2022-01-30 22:49] stefanopagliari commented on #48
@chrisgrieser, I have pushed an update (https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.13) where I simply replaced "&$" with "& $". I don't feel great about this solution because it may change cases where those characters have a precise meaning, but I will keep an eye.
Could you please let me know if it works for you?

[2022-01-31 22:21] stefanopagliari commented on #48
Is the source Myers2012e?
If so would you mind sending me the very lengthy console logs that I have forgot to hide before pushing this version? It does work in my case.

[2022-01-31 22:42] chrisgrieser commented on #48
[obsidian.md-1643668517741.log](https://github.com/stefanopagliari/bibnotes/files/7974709/obsidian.md-1643668517741.log)
yeah, it's still Meyers2012e.

However, I found a workaround by simply replacing all instances of `$&` in my `Library.json` – then bibnotes is able to read everything correctly.

Like, when you cannot pin down the issue, it's probably not worth to invest so much time in a proble

[2022-01-31 22:44] stefanopagliari commented on #48
I suspect that the version you have is not the latest  (the console.logs would be much longer), and probably the reason may be that I have forgot to update the number on manifest.json, so it may not update via BRAT.
What I have done in the latest version is the same (replace $& in the comments).

[2022-02-01 13:11] Rhydderch opened #49 "highlights formatting not working anymore"
Hi,
Since the 9.0.0 version the formatting does not work anymore.

To help debug, I provide
- a pdf with highlights
- a screenshot of my zotfile settings in zotero
- a text file of the extracted not in zotero
- the data file (for the settings of the bibnotes plugin)
- the bibtex json

link: https://we.tl/t-6igTomP1Zv

What might be the bug? Is it possible to fix it?

[2022-02-02 10:44] Rhydderch commented on #49
I tried installing old 0.8 and 0.9 versions and I get the same problem: only the last highlight of the extracted note is formatted correctly. So, weirdly enough, the formatting has stopped working for me regardless of the version I am on.
I have no idea why this is happening.
Also, I'm on Obsidian v0.13.23
![image](https://user-images.githubusercontent.com/3197629/152138528-0414ec52-feb3-44a2-8d28

[2022-02-02 11:47] Rhydderch commented on #49
Updating to the Zotero Beta fixed the above issues for **new** extracted highlights with the latest version of Zotfile.
However, for old extractions of notes by zotfile, the same issue persists.
Deleting the previous note, Re-extracting the highlights using zotfile, and then importing them back in Obsidian using bibnotes works.

So - I think - the issue lies in the way bibnotes handles note highli

[2022-02-02 20:59] stefanopagliari commented on #49
Hi @Rhydderch, sorry but I did not have time to check this yet. To give a bit of background on how I coded the extraction of notes from zotfile, I basically installed the latest version of zotfile on the Zotero Beta and worked the default settings. I did not get a chance to test older versions of Zotfile and Zotero. I think you may be right that in these older versions the markers identified by Bi

[2022-02-03 02:31] alphe1 opened #50 "Unable to insert any literature note"
Setup:
Jurism (Zotero mod) with zotfile, better bibtex installed. Put MyLibrary.json in vault directory. When trying to add note from command palette, no citations appear when typing into the entry panel.

To troubleshoot, I created clean standalone Zotero on another computer. Created a new library and followed all subsequent steps with the same issue. I also tried old bibnotes releases (back to 9

[2022-02-03 16:02] Rhydderch commented on #49
Hi @stefanopagliari . No worries if you cannot get to the bottom of this anytime soon. The beta of zotero is actually quite good and I am happy bibnotes is working well with it :)!

I did include the json file from the old version so perhaps, if that is the root of the problem like we think it is, the user could specify which zotero version he uses (5.0 or beta).

[2022-02-03 18:56] stefanopagliari commented on #50
@MichaBrugger The update the whole library has a setting to decide whether you want to update only the existing notes or also create those that have not been generated yet. Could that be the reason why nothing happened?
If that setting was active, I would not expect anything to happen unless you updated the json file

[2022-02-03 19:12] MichaBrugger commented on #50
That's a fair point, but unfortunately, I did check that! Somehow it starts the updating process but then it just kinda ends nowhere.
![image](https://user-images.githubusercontent.com/46029522/152412554-5706fd31-7347-4b20-8169-e46b8e866089.png)

[2022-02-03 19:39] alphe1 commented on #50
Thank-you so much for taking a look at this!
OS: macOS Big Sur 11.6.1
Zotero: 5.0.93m18 (Juris-M). I also tried with Zotero Standalone 5.0.96.3
Obsidian: 0.13.23

Apart from ensuring it's in the vault, are there any special things I should be doing for the path?

[2022-02-04 19:38] annargrs opened #51 "[Feature request] Making {{citeKey}} available for annotation formatting"
Would be great to be able to use the {{citeKey}} placeholder in the fields where we can append/prepend custom text to extracted annotations. This would enable easily formatting sources for individual comments/annotations for tex-friendly workflows.

At present {{citeKey}} in those fields is interpreted literally.

[2022-02-04 21:31] stefanopagliari commented on #51
@annargrs, this makes sense and it should be easy to implement. I will add it to the plugin

[2022-02-04 22:37] annargrs commented on #23
@stefanopagliari the problem with highlights was due to some setting of bibnotes plugin (no idea which one). I solved it by reinstalling the plugin and starting again from default settings.

[2022-02-04 22:42] annargrs commented on #51
Many thanks! While we're at it, "\n" for line breaks would also be cool as an option for formatting quotes 🙏. Say, like this:

**some profound comment on a highlight:**

[2022-02-05 09:55] stefanopagliari commented on #23
Thanks. I will close this issue now but please reopen it if the issue is not solved

[2022-02-05 09:55] #23 closed

[2022-02-06 20:53] baileymh opened #52 "Citation as note title"
Hey, thanks for the work you do, this has helped me a lot with doing my research.

Would it be possible at all to import notes with their title as a citation?

For example, instead of `Mayo.etal.,(2018)` (the citekey), I get `Mayo et al., (2018)`

Basically, just the need the shortened authors (with et al. if more than 2), spaced, and the year in parentheses.

[2022-02-07 23:03] stefanopagliari commented on #52
Hi, could you please provide me another example of the issue? I'm not sure I full understand what would you like

[2022-02-07 23:16] baileymh commented on #52
I'd like a way to specify the title of the note being created from Zotero, to be in the form of a proper citation.

By default, the citekey looks like `CorbinAnderson2016` or `Smithetal2019`. I'd like a way to have the title of the note being created to include spaces and breaks of the authors, specifically to match a proper citation format, such as `Corbin and Anderson (2016)` or `Smith et al. (2

[2022-02-14 09:41] Rhydderch opened #53 "Missing line break on updated content when updating not (easy fix I think)"
Hi,

I noticed that when updating a note, the updated content (new inserted content) is missing a line break.
So if I have not using double spacing, the new content will be added to the end of the previous line
And when I use double spacing, the content will appear on a new line but will not have the double spacing (so again a line break is missing).

I hope you will be able to fix this :) !

[2022-02-15 10:59] Kullenej opened #54 "Vault in iCloud - Can't accept JSON"
Thank you for a wonderful plugin. Unfortunately, I have my vault in iCloud for syncing with IOS, but Obsidian iCloud folder can't accept JSON. Is is possible to do like the Citations Plugin with having the JSON file outside of the vault?

[2022-02-15 20:29] stefanopagliari commented on #54
Hi @Kullenej. I also have my Obsidian value in iCloud and I use iCloud to synch across devices, and I did not encounter that problem. I will take a look what could be the problem.

[2022-02-18 15:11] Rhydderch opened #55 "highlight (only titles?) omitted in specific context"
Hi!

I found a new bug. It might be related to the setting "placing comment before highlight".

This note in zotero (note that there are comments for each highlight and that there are titles):
[code]

results in this in obsidian:
[code]

Let me know if I can provide any further information to help debug this. :)

image version in zotero
![image](https://user-images.githubusercontent.com/3197629/15

[2022-02-18 21:32] stefanopagliari commented on #55
Thank you for flagging this problem. I will look into it

[2022-02-21 10:07] polisank commented on #19
@LeePheon I had the same problem, I fixed it by putting the _relative_ path inside my vault and not the absolute path.

[2022-02-21 13:14] Rhydderch opened #56 "Problems with importing images"
Hi,

I noticed some problems with images (from zotero highlights made in the zotero pdf reader).
Images are not correctly linked/imported in the following cases (at least on update):

- when two or images follow one after another (only the last image seems to be imported)
- when an image is before a title

As settings, I used the feature of linking to the image stored in zotero. I also only show t

[2022-02-23 02:50] Oblique82 opened #57 "Updating Library writes into protected area"
Thanks for your help with this great plugin

all my Bibnotes-generated 'notes' have a protected section called ## Personalised Section at the end of the note

I have turned on "start- save manual edits" ## Personalised Section

My understanding is that nothing below the personalised section should be edited when the library updates.

However I have some placeholder hyphens under each sub heading i

[2022-02-23 15:38] richardlm commented on #22
I would really like the md file of the admonition template to be accessible somewhere as it would provide a helpful starting point from which to develop our own templates.
Do you plan to submit this as a community plug-in soon?
Many thanks

[2022-02-25 18:55] arthurfraor opened #58 "Selecting: "Update Library" does nothing"
This is what appears whenever I try to update my folder with the Update library command. Path is correct, create new notes when missing is selected. What could it be? The path to my vault is in my iCloud folder, notes are updated, the file is a betterbibtex.json constantly updated. The plugin is amazing and it is the only thing remaining for my workflow to be flawless 👌🏻
<img width="1120" alt="upd

[2022-03-03 00:30] Elaws opened #59 "[Feature Request] Get Zotero ID as variable to use in template"
Hello,

Is there any way to get Zotero IDs of a given item, as a value to use in template ?

e.g. : In this URI : zotero://open-pdf/library/items/DWDDHZU3, ID is DWDDHZU3.

It could be used as {{zoteroID[i]}} where i is the attachment number of a given Zotero item.

I would like to add my Zotero storage inside my vault : Zotero IDs would allow to get a cross-platform relative path to my PDFs.

Tha

[2022-03-04 21:15] stefanopagliari commented on #58
@arthurfraor  sorry for getting back to you only now.
Is the "update library" command working as expected beyond that box remaining open?

[2022-03-04 21:25] stefanopagliari commented on #59
@Elaws,
I have not tested it but {{itemKey}} should work. Please let me know. Otherwise I will code this feature in the new round of updates (which unfortunately I had to suspend for a couple of weeks because of work commitments)

[2022-03-04 21:27] #19 closed

[2022-03-04 21:27] stefanopagliari commented on #19
I'm closing it for now as I did not get a reply, but please reopen it if needed

[2022-03-04 21:40] stefanopagliari commented on #22
@richardlm The plan is to make this a community plugin but I have been bogged down with other commitments.
Regarding the admonition template, I will add it, but in the meantime, this should work
[Admonition_Template.md](https://github.com/stefanopagliari/bibnotes/files/8188891/Admonition_Template.md)

[2022-03-05 17:34] arthurfraor commented on #58
No worries, you're the one doing a favor for the community. No, it doesn't work, notes are not created. I decided to wait for a while to check if it would work, but it didn't. I haven't got many plugins and I wouldn't mind removing them if it would mean bibnotes working.
I use a M1 Mac btw.

[2022-03-06 02:10] Elaws commented on #59
Thanks for your reply !

I think {{itemKey}} refers to the ID of the Zotero item, not the ID of its attachments ? If there are several attachments, how could we access their different IDs ?

Also, I should add a bit more detail : The use case would be for each attachment to get its "attachmentKey/attachmentName" path so that we have a cross-platform link : Indeed, in case where we are syncing Zote

[2022-03-06 16:45] richardlm commented on #22
Many thanks Stefano

[2022-03-08 03:08] Oblique82 commented on #57
sure here is a link to a video showing the sequential corruption that happens with multiple updates in the section called #Personal Section

https://res.cloudinary.com/professional-integrative-medicine/video/upload/v1646708856/Troubleshooting/Screen_Recording_2022-03-08_at_1.31.55_pm_xv56tn.mov

[2022-03-08 16:39] jenshda opened #60 "naming and backtick bugs"
First of all superb job mate!

### Here are a few things I stumbled across when starting to use the plugin:
- Currently file naming using {{author}} doesn't work for me. {{citekey}}, {{year}}, {{title}} work, just not author.
- When importing `backticks` "`" are transformed into "'" making one unable to use backticks in the template.

[2022-03-10 23:47] Deeoon commented on #58
Same problem for me, also with a Mac M1 and the Obsidian Vault on iCloud.
I have the same menu that appears, with the info box at the top right: "update 0 entries". And then nothing happens.

[2022-03-11 00:06] Deeoon commented on #58
I am so stupid, just open a note with the keyboard shortcut and it works.

[2022-03-11 01:59] fengyelai commented on #58
I also encountered the same problem. I can't create it through Bibnotes in Obsidian from Zotero

[2022-03-14 18:29] arthurfraor commented on #58
issue solved, just set the RELATIVE PATH, not the absolute path like the citations plugin. Maybe you should point this out in capital letters at the plugins page so no-one would commit the same mistake (just a suggestion)

[2022-03-14 23:28] fengyelai commented on #58
Yes, I also found this problem by trying. Thank you very much for your help！
Thanks for such a wonderful plug-in

[2022-03-15 18:16] krillin666 commented on #58
For me, the command `BibNotes Formatter: Create/Update Literature Note` works without problems for both creating and updating a given Zotero entry.
**However**, the *Update Library* does nothing when I for example add new highlights to a Zotero entry

[2022-03-16 07:04] Oblique82 commented on #57
related to this it would be great if we could use a hidden comment to mark the protected area of a note eg %% protected-area %%

however if I try this and refresh it nukes the entire top part of the note!

[2022-03-17 04:11] arthurfraor commented on #58
Guess I found another issue as well. Same for me

[2022-03-21 15:33] ChuanTC opened #61 "Plugin can't be loaded with latest version Obsidian v0.13.33"
see title. Any solutions?

[2022-03-22 03:56] SongshGeo opened #62 "[Feature] Cleaner tags as metadata without ";""
Thanks for your EXCELLENT plugin!
That's the first tool I found that can link my tags-system between Zotero and obsidian.
I'm just wondering if I custom YAML of Markdown in obsidian `{{keywordsAll}}`, may the tags can be split without any `;` following? In that way, I can share the same tags-system without any rectification!

[2022-03-22 09:52] stefanopagliari commented on #61
I was not able to replicate the issue. I've updated Obsidian to the latest insider version (0.14.2) and the plugin works normally.
What error are you getting? Is it installed via BRAT or by copying the files on your plugin folder?

[2022-03-22 09:55] stefanopagliari commented on #62
Thank you. I'm glad you found it helpful.

The ";" separating tags is currently hard-coded and cannot be changed in the template. I guess I could add a setting to change this if this may be helpful, unless you have a different suggestion on how to deal with this

[2022-03-22 09:57] stefanopagliari commented on #58
Are you referring to adding an highlight to the PDF in Zotero? if so, are you re-exporting the note within Zotero?
An highlight in the pdf becomes readable to the plugin only after this is exported as a note within Zotero, so the existing one would need to be updated

[2022-03-22 09:59] stefanopagliari commented on #57
@Oblique82, thank you for sending this. I will look into this but this and other bug fixes will have to wait a bit as I'm dealing with other commitments at the moment

[2022-03-22 10:23] ChuanTC commented on #61
I unzipped the plugin and drag the entire folder to `.obsidian/plugins/`, and then I try to turn it on in the setting page (on the community plugins page). It doesn't allow me to do so and reports "Failed to load plugin bibnotes".

[2022-03-22 10:23] ChuanTC commented on #61
I unzipped the plugin and drag the entire folder to .obsidian/plugins/, and then I try to turn it on in the setting page (on the community plugins page). It doesn't allow me to do so and reports "Failed to load plugin bibnotes".

[2022-03-22 11:18] stefanopagliari commented on #61
Is there any error/message in the console?

[2022-03-22 11:23] ChuanTC commented on #61
Please see the screenshot I get. And then the plugin can't be loaded.

<img width="1444" alt="Screen Shot 2022-03-22 at 7 21 21 PM" src="https://user-images.githubusercontent.com/50973929/159470919-b578e20c-9ef8-4fc0-8e81-7db697058e96.png">

[2022-03-22 16:22] zxyjkl commented on #61
I've run into same issue.

[2022-03-23 00:36] SongshGeo commented on #62
Thanks for your rep.
Up to now, I manually clean it with another external script. That batch modification is not safe and inconvenient.
I believe an optional setting will be helpful!

[2022-03-24 14:29] andrewalseth commented on #61
I am seeing the same issue, it seems that obsidian is looking for a 'main.js' file and there is none present in the repo - see screenshot:
![image](https://user-images.githubusercontent.com/31556838/159938734-e2605eea-09c9-4f8a-8b92-83a609f69fbd.png)

[2022-03-25 00:28] SongshGeo opened #63 "Only `blue` color annotation can not be identified."
As shown in the title, I had no idea why blue annotation disappeared while other coloured annotations were extracted correctly.

This is what it looks like in Zotero:
![suxmdU](https://songshgeo-picgo-1302043007.cos.ap-beijing.myqcloud.com/uPic/suxmdU.png)

This is my `.json` better bib file:
![8vNEfx](https://songshgeo-picgo-1302043007.cos.ap-beijing.myqcloud.com/uPic/8vNEfx.png)

My setting is:

[2022-03-25 05:38] CharlesChiuGit opened #64 "Support for standalone note?"
Hi, I just start using `bibnotes` plugin, but it acts quite weird when it comes to "structued standalone note".
I would like to structure my notes a little before I export them into Obsidain. I am wondering if `bibnotes` doesn't support standalone notes?
For example, the "Heading" in standalone note won't convert to heading in Odsidian but just plain text.
Heading in zotero 6 standalone note:
![im

[2022-03-26 01:19] panyuz opened #65 "How to synchronize delete operations of zotero"
When I delete a document in zotero, bibtex json deletes the entry, but how do I set it up in bibnotes to synchronize this action?

[2022-03-26 01:45] XujqGitHub commented on #58
Thanks for your plugin. Unfortunately, I also face the same issue. There are nothing items been updated by _BibNotes Formatter: Update Literature Note_, even though the note in zotero has been modified and the .json file has been updated baed on your suggestion.

[2022-03-28 13:58] stefanopagliari commented on #65
This feature is currently not possible.

[2022-03-28 13:58] #65 closed

[2022-03-29 03:16] quarkquartet commented on #61
Same problem here. Looking forward for a solution and I'll be willing to offer any information for debugging.

[2022-03-29 13:41] ChuanTC commented on #61
Hey everyone who has the issue:

I think we just use the wrong source code. You need to download the [bibnotes-.zip](https://github.com/stefanopagliari/bibnotes/releases/download/0.9.13/bibnotes-.zip), rather than clone and unzip the whole repository. . I get the plugin running without any issue now. Thanks!

[2022-03-29 13:41] #61 closed, assigned to nobody

[2022-03-29 14:43] csducate commented on #63
I have this same problem using native Zotero reader. All colors import properly in Obsidian except blue (even though blue annotations show up in my annotation note in Zotero). Here's my [debugout.txt](https://github.com/stefanopagliari/bibnotes/files/8372406/debugout.txt) file.
.

[2022-03-30 02:17] quarkquartet opened #66 "{{author}} undefined in file name?"
I met a strange problem.

I set the Note title to be `{{title}}-{{author}}`, the result becomes "xxx(title)-undefined". But in the template where I also called the `{{author}}`, the author name shows up correctly. See the figure
<img width="656" alt="image" src="https://user-images.githubusercontent.com/26316540/160737301-6ff8bef4-fefc-4e4e-8189-4b12fad2f5f3.png">
<img width="728" alt="image" src=

[2022-03-30 11:43] ChuanTC commented on #66
Same issue here. {{author}} doesn't show properly in the file title, but the key works fine anywhere as contents.

[2022-03-30 13:23] csducate opened #67 "Can't Recognize Comment in Highlight as "Comment" or "Highlight""
When I annotate PDFs, I highlight sections and then add comments to those highlights. For instance:

<img width="308" alt="Screen Shot 2022-03-30 at 9 19 12 AM" src="https://user-images.githubusercontent.com/48921940/160844065-a0fb3d01-fdc1-41b4-8525-fd3073e44e57.png">

In the new native Zotero PDF reader, I believe both of these are categorized as "highlights" because the formatting is under `ext

[2022-03-31 02:41] arthurfraor commented on #58
Sorry for the long time. I was using liquidtext sync with Zotero, and yep, it doesn't export comments automatically, so that was probably the issue. But now I open Zotero and export them manually and it is fine.

[2022-03-31 10:17] krillin666 commented on #58
I've even deleted and recreated annotations but the Bibnotes update Library does nothing. Only works about 1/10 times

[2022-04-02 16:38] sutzig commented on #67
I came to provide the same feedback. I've experimented with the Custom text after highlight; Custom text before all comments; and Texted placed between comments and the related highlight settings and none change the rendered output.

[2022-04-02 16:42] sutzig commented on #50
@alphe1: I don't know if this applies to your experience, but it was something that I missed in the configuration: the Bibtext file path should be a relative file path for your Obsidian vault rather than an absolute path on your system. My file path, for example, is `resources/my_library.json`

[2022-04-04 15:51] zllx666 opened #68 "Can't open pdf file using {{file}}"
Just started to use the plugin, and I found that if using {{file}} directly, the generated link will be like this:  file://C:\Users\......
The pdf cannot be opened until I add another slash to the link address, like this: file:///C:\Users\......, maybe the default link should be modified?

By the way, I also want to ask that since Zotero6 comes with an internal pdf viewer, is that possible to gene

[2022-04-05 03:41] mikkibelle commented on #66
Same issue here.

[2022-04-05 03:47] mikkibelle opened #69 "Support for nested tags implementation"
Thanks for the amazing plug-in! Currently you can add '#' before {keywordsAll}, #{keywordsAll, in the template to output Zotero tags as separate Zotero tags. I haven't been able to work out how to add the Zotero tags to a nested tag collection in Obsidian. e.g. #lit/{keywordsAll}, so that all tags from papers imported via this plug-in will be kept under the parent #lit tag, for easier organisation

[2022-04-06 05:04] xuey06 commented on #68
You can fix this problerm by yourself.
You can open the 'main.js' file of the bibnotes-plugin folder with a text editor and search for words of 'file://’ in this file. you will see an mathched term under the item named 'function createLocalFileLink'. Then change 'file://’ into 'file:///’ and reload obsidian.

[2022-04-06 20:21] stefanopagliari commented on #66
@quarkquartet thank you for flagging this bug. The placeholders are treated differently in the template and in the title. I will fix this but it may take a bit as I'm dealing with other commitments at the moment.

[2022-04-06 20:29] stefanopagliari commented on #69
@mikkibelle I'm afraid that nested tags are not supported at the moment but I will consider adding this feature. I have to suspend for a bit the updates as I deal with other commitments, but I hope to be able to to get back to this in the upcoming weeks.

[2022-04-07 03:03] zllx666 commented on #68
Thanks for the help! It's working now.

[2022-04-07 05:47] vdmeer-rm commented on #67
I am having the same issue. Tried to solve it by starting a comment with /<br> and /<p>, but it just doesn't seem to be able to show a comment as a separate paragraph. I'm dying to know how this can be resolved.

[2022-04-08 07:44] xuey06 opened #70 "The extracted annotation's link without annotation ID?"
The plugin is very useful and wonderful. While there are some bugs I can not fix them.

### The extracted annotation's link lost its annotation ID.
- For example, the extracted link is written as:

- While, the exported link from zotero is written as:

- The missing  annotation ID will lead to the extracted link can just jump to the annotation's page not the exact location.

### The extracted imag

[2022-04-08 16:33] anoriginalmoniker commented on #67
Same here. +1

I'd like to be able to mirror the way I have Readwise imports formatted.

[2022-04-08 21:38] dawit786 opened #71 "My library doesn't import."
![image](https://user-images.githubusercontent.com/103286411/162535533-fddf01b5-4828-4cd3-937b-1b0dbc072bdc.png)

I keep getting this empty screen. Does anyone else has or had the same problem and know how to solve this?

[2022-04-10 06:54] hujie12306 commented on #63
I encountered a similar problem. I set "H2" for 'green', but it didn't work. I think this may be due to the use of zotero native export.

[2022-04-10 10:02] hujie12306 opened #72 "[Feature Request] Support the tags of annotations"
Hey, annotations of Zotero native readers can be made up of three parts:"highlight","comment","tags".Whether it is possible to increase the support for tags? I hope this can be achieved:
- When exporting the blue "annotation", arrange it in the following way
[code]
- When exporting green "annotation", it is arranged as follows
[code]

[2022-04-10 16:04] anoriginalmoniker commented on #67
I did some poking around and solved the issue for my purposes.

In the "main.js" file of the plugin, line 2948 looks like this;

`const commentFormatBefore =  commentHighlighted + commentBold + commentItalic + commentQuoteOpen;`

I added two line breaks up front, so now it reads:

`const commentFormatBefore = "\n\n" + commentHighlighted + commentBold + commentItalic + commentQuoteOpen;`

So now, i

[2022-04-11 07:58] dawit786 commented on #71
Is there a video tutorial available? Maybe then I can see which step I missed or if there is another problem.

[2022-04-11 08:56] 133501 opened #73 "Image Import Path"
When trying to import and copy images from my zotero notes:
 - no error pop-up
 - no image gets imported
In console I get:
[code]
Main issue I see is the mismatch between drive letters D:\ -> C:\D:\ . But I can not fiure out where it comes from - plugin or zotero it self.

Zotero v.: 6.0.5-beta.2+c510d9146
bibnotes: 0.9.13

[2022-04-11 19:58] vdmeer-rm commented on #67
Cool! That does work! Many thanks!

[2022-04-11 20:27] dawit786 commented on #71
I added the relative path (not the absolute) for the JSON file and it workd. Problem solved.

https://github.com/stefanopagliari/bibnotes/issues/58#issuecomment-1059802324

[2022-04-13 11:29] iShareStuff commented on #73
i modify the code, you can use this or see the video at [https://www.bilibili.com/video/BV1k34y1v7fY/](https://www.bilibili.com/video/BV1k34y1v7fY/)
[bibnotes-ShareStuff.zip](https://github.com/stefanopagliari/bibnotes/files/8481021/bibnotes-ShareStuff.zip)

[2022-04-14 12:42] tao-bai opened #74 "How to make Highlight color work"
new to bibnotes, don't know how to the highlight color feature. Could you please give some examples?

[2022-04-16 09:42] anoriginalmoniker opened #78 "Add current date-time to template"
Love the plugin.

I'm wondering if you'd consider adding a customizable date-time variable for the custom template. This would allow linking to daily notes.

[2022-04-17 07:31] Miscellan opened #79 "Something has been replaced."
There were some syntax substitutions which prevented them from displaying properly in Obsidian.
I have added <mark>a word</mark> to some words in zotero comments to make it stand out in Obsidian. But when exporting {{PDFNotes}}, they are replaced with &lt;mark&gt;a word&lt;/mark&gt;.
What is the reason for this? How do I fix this problem?
![image](https://user-images.githubusercontent.com/10387569

[2022-04-19 05:53] xwying opened #80 "The last character of the preserved content gets removed after update"
## Problem:

I set my update rule to preserve my modification starting from a specific string to the end of the note. However, I notice that whenever I do an update, the one last character of my note gets removed.

Looks like it is caused by this line of code and its following relevant lines:

https://github.com/stefanopagliari/bibnotes/blob/f504f4eb0bee4c7d98ce05e91705c069479d39d5/src/main.ts#L20

[2022-04-19 16:56] cAtOnana opened #81 "What is the pdf viewer or OB plugin show up in Demo?"
Found it pretty cool that a small viewer of extracted annotation show up above the highlight when cursor hovering. Wondering what the plugin it is and how to config.

Great Appreciation!

[2022-04-19 17:08] cAtOnana opened #82 "Backlink to pdf highlight only exact to page but not specific highlight"
Using default pdf veiwer of zotero.
When I click the backlink in md note created by bibnotes, it only jump back to the top of specific page that the highlight text living in, but not exactly the highlight itself.

Easy to get confused if two highlight using same color , while the targeted one being cut off by bottom edge of pdf viewer and the unwanted one close to top.

Is my configuration wrong?

[2022-04-20 07:12] stefanopagliari commented on #70
@xuey06 Thank you for alerting me of this. I was not aware that it was possible to link to the specific annotation. I will look into adding this. Apologies but I had to take a break from working on this plugin because of other commitments.

[2022-04-20 07:28] stefanopagliari commented on #72
@hujie12306, unfortunately the tags specific to a comment are not exported by betterbibtex in the json file that is then processed by bibnotes

[2022-04-20 07:32] hujie12306 commented on #72
we could change the note template to acquire the tags.
Zotero note template:&nbsp;note templates [Zotero Documentation]

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月20日(星期三) 下午3:28
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [stefanopagliari/bibnotes] [Feature Request] Support the tags of annotations (Issue #72)

@hujie12306, unfo

[2022-04-20 09:06] hujie12306 commented on #72
For example:
[code]

[2022-04-20 15:43] stefanopagliari commented on #73
@133501 In the settings it is possible to specify the folder where the images are stored
![Screenshot 2022-04-20 at 16 42 06](https://user-images.githubusercontent.com/30759878/164270245-7b7ee987-1a53-484f-85a3-f3b03244983a.png)

[2022-04-20 15:53] stefanopagliari commented on #74
The "highlight colour" setting defines what happens when a given colour is used to highlight a passage from a PDF.

[2022-04-20 15:56] #74 closed

[2022-04-20 17:36] stefanopagliari commented on #78
@anoriginalmoniker yes, that would be feasible. Could you give me an example of that what date-me format would be helpful? Something like YYYY-MM; YYYY-MM-DD?

[2022-04-20 17:42] stefanopagliari commented on #79
@Miscellan, just to make sure I understand, which one is the original text and which one is the one that is exported in Obsidian by Bibnotes?

[2022-04-20 17:49] stefanopagliari commented on #80
@xwying Thank you for flagging this bug and identifying the problem. I will try this and implement your fix or something similar. Apologies but I had to suspend the work on this plugin for a bit as I deal with other commitments.

[2022-04-20 18:07] xwying commented on #80
@stefanopagliari  Thank you for creating this great plugin! I seriously believe this plugin has great potentials and it is now completely replaced my previous mdnote + obsidian-citation workflow. Your work really helped me a lot in organizing my research reading notes. Wonder if you will consider including more maintainers to keep this plugin updated.

[2022-04-20 19:47] stefanopagliari commented on #66
This has been fixed in version 0.9.14 https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.14.
thank you to @ThomasFKJorna  for providing the code.

[2022-04-20 19:47] #66 closed

[2022-04-20 19:50] stefanopagliari commented on #81
Hi @cAtOnana , could you please give me an example of this? I'm not sure I understand the issue

[2022-04-20 19:54] stefanopagliari commented on #82
@cAtOnana this is a limitation of the current plugin, not a problem in your configuration.

@xuey06 has provided a possible solution in a different issue (https://github.com/stefanopagliari/bibnotes/issues/70), so I will try to fix this along those lines.

[2022-04-20 19:54] #82 closed

[2022-04-21 01:57] hujie12306 commented on #72
Yes,it's within the setting,which is similar to zotfile.
![image](https://user-images.githubusercontent.com/61086637/164356204-eea5a4e8-2e07-4f83-bf64-ee9b2e27dabd.png)
![image](https://user-images.githubusercontent.com/61086637/164356214-1d30fbf8-ba21-4bdc-8dfb-a336d2c58625.png)

[2022-04-21 01:58] hujie12306 commented on #72
Specifically
edit, preference
![image](https://user-images.githubusercontent.com/61086637/164354998-3763ef64-462d-413a-97d8-db397a9d01d3.png)
advanced, config editor
![image](https://user-images.githubusercontent.com/61086637/164355051-465f4335-23bd-4484-9345-e96fcf6ce489.png)
search: notetemplate
![image](https://user-images.githubusercontent.com/61086637/164356310-f0f23dd6-2de9-432b-a16a-26f035b

[2022-04-21 04:47] CaoKang-David opened #84 "[Feature Request] Add citations and biblography in Obsidian"
The Plugin is wonderful!!
Would you like to add a feature that allows us to insert citations and bibliography in Obsidian just like we do it
with "zotero word integration" in Word Processor?
It will help us to write Zettelkasten cards.

[2022-04-22 03:50] Miscellan commented on #79
@stefanopagliari
the original text：<mark>gap</mark>
exported in obsidian by bibnotes：&lt;mark&gt;gap&lt;/mark&gt;

[2022-04-22 10:59] hujie12306 opened #85 "Distinguish automatically exported tags and hand-typed tags"
The type in the Json file is different.
zotero:
![image](https://user-images.githubusercontent.com/61086637/164701677-af158bac-bb7f-4ba2-bf59-dc09ade85a90.png)
json:
[code]

[2022-04-22 11:00] hujie12306 commented on #85
我可以用中文吗？

[2022-04-23 12:25] hpxing commented on #73
it works ok

[2022-04-23 13:43] hpxing commented on #85
什么意思？？根据tag的type来分别？

[2022-04-24 09:11] stefanopagliari commented on #70
I have added this feature in the release 0.9.142 https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.142

Thanks @CaoKang-David for providing the code

[2022-04-24 09:11] #70 closed

[2022-04-25 12:54] 133501 commented on #73
@iShareStuff thanks for the suggestion. It works that way, but it is a partial solution. If I have bibnotes NOT to copy the images - plugin creates a link to specified Zotero folder and images display.

But if I want the bibnotes copy images to my vault -  I specify the folder from where to take them e.g. `D:\hajek\....`
The problem is that bibnotes (?) assumes that folder is located on C drive an

[2022-05-01 12:06] shuxinpipa opened #88 "[Feature request] (Author Year and Page number) for image"
Hello,
I noticed that when importing notes with image highlights, the end of each image doesn't have the (author, year, and page) info as the text highlight has. This would be greatly helpful when importing notes with tons of images. Thanks.

[2022-05-03 16:04] stefanopagliari commented on #63
Thank you to @GomesSara for identifying and fixing the bug that prevented the export of the blue highlight. This is not available in 0.9.145

[2022-05-04 09:37] HeiHaiMiam opened #91 "Link error in ob for manually added annotations in zotero"
In zotero , I clicked "Add Item Note" to create an empty note, and then added annotations to the note manually (Need to come up with a title, then format the title as "Heading 1"). When Update Literature Note, the links in "Extracted Annotations" will be  wrong and can not show on page in zotero.
![image](https://user-images.githubusercontent.com/103568175/166656816-61e94b08-7a07-4c71-9129-0ddacbc

[2022-05-04 14:06] stefanopagliari commented on #88
I've addressed this in the latest version: 0.9.146.
Could you please test this?

Thanks
S.

[2022-05-04 14:21] #88 closed

[2022-05-05 11:43] pisceswb commented on #58
This is a prefect plugins! Thanks! But I have the same problem, only "creat/update literature note" can work.

[2022-05-05 12:24] venkate123 commented on #68
Replacing 'createLocalFileLink' function in 'main.js' by following code allows you open files in Zotero internal pdf viewer.

[code]

[2022-05-08 03:22] RavHilton commented on #80
Just here to mention I, too, am seeing this same issue.

[2022-05-08 04:43] RavHilton commented on #80
...and yes, @xwying, the patch as you have shown it works well.  :)

[2022-05-09 19:31] Gsirr opened #92 "[Feature Request]Is there any way to put the annotation of the same color exported from Zotero in Obsidian together"
Is there any way to put the annotation of the same color exported from Zotero in Obsidian together

[2022-05-10 21:15] khelbenlaforge opened #93 "Images do not get linked/imported due to missing "%20" in file path."
I've been having issues trying to get images either displaying or imported into my vault.

Case 1: (No copying into Vault)
![](file://C:\Users\Khelben La'Forge\Zotero\storage\PGJE9TB9\image.png) <-- there's no "%20" at the space

Case 2: (Copy to vault)
![[AncientSecretFlowermelchizedek2000_PGJE9TB9.png]] <--"AncientSecretFlowermelchizedek2000_PGJE9TB9.png" is not created yet. Click to create.

Fo

[2022-05-11 17:38] jdmorg0 commented on #84
Use the obsidian citations plugin for that.

[2022-05-16 06:35] hujie12306 commented on #53
I encounter the same question!

[2022-05-18 02:51] Servinjesus1 opened #94 "Color Annotations Not Working?"

[2022-05-18 17:28] #94 closed

[2022-05-18 17:29] Servinjesus1 commented on #94
Never mind. Turn on color annotations in Zotfile's advanced preferences :)

[2022-05-23 20:17] Servinjesus1 opened #95 "Zotero 6 Annotation Support"
Zotero 6 has brought annotation extraction into the base program, and [Zotfile has decided to discontinue their functionality ](https://github.com/jlegewie/zotfile/issues/596) in favor of what Zotero now has built-in. This extracts the exact color of annotations and highlights the content of the note itself rather than prepending the name of the color as Zotfile did. Is there any hope of getting b

[2022-05-25 19:15] stefanopagliari commented on #95
Thank you for mentioning this. I was not aware of this change. I will look into this!

[2022-05-27 12:11] seifer08ms opened #96 "[Feature Request] Is there any way to import table from zotero notes?"
Thanks for the great plugin. Now zotero support to insert and edit table in the note. Is there any way to import table from zotero?

[2022-05-29 22:08] doomgutt commented on #73
I second @iShareStuff 's situation. For me the plugin also throws an issue about a "wrong path" even when the specified path to Zotero/storage is correct. The issue, however, does not arise for me when I import my PDFs back into Zotero.

I believe what is happening is that the plugin assumes that the path of the PDF is the path where the images should be stored, so if the PDF is stored externally

[2022-05-30 11:47] pdatlinger commented on #58
Hi Stefano,

First of all, thanks for this amazing plugin. I've been looking for a link between Zotero 6 and Obsidian for a while now and your plugin is the best solution by far.

I've encountered the same limitation mentioned above and think it would be an easy fix.

When I execute 'BibNotes Formatter: Update Library', I get the output ''Updated 0 entries" and an empty floating window appears in

[2022-05-30 11:50] pdatlinger commented on #95
This would be incredible! In my workflow I like to use different colors for specific kinds of information. It would be amazing to get the annotations by color into Obsidian, for example to put them under different subheadings. Amazing work so far!

[2022-05-31 12:42] a1576799 opened #97 "Format issue: after importing the pdf note from Zotero, the note showing in Ob doesn't have any formation."
After exporting from Zotero, we have the JSON file. However, when updating the literature note in Obsidian by the bibnote formatter, the pdf note has no formation like in Zotero note. For example, the H1, H2, or H3 titles become just paragraph texts. The same thing happens for bullet note as well. The whole Zotero note becomes plain text without any markdown grammar. Does anyone have the same prob

[2022-05-31 18:57] arthurfraor commented on #58
You have to set the relative path, not absolute path. For example, it should be like: /yourjsonfile.json, if it is inside obsidian folder, or any folder inside it like: /folder/yourjsonfile.json. This should solve your issue. Also, always make sure to export your comments in zotero so they are sent to json file.

[2022-05-31 19:09] arthurfraor opened #98 "Usage on iPadOS"
I use an iMac M1 and an ipad as complementary device. I use icloud sync and one .obsidian folder for both, which has my plugins, so, they are always synced in both devices. The weird issue is that it shows as a community plugin installed, but I can’t tick it to turn on, even tough it is always turned on in my mac. Is it not compatible or do I need to turn any specific settings to use it? I ask tha

[2022-06-01 16:17] stefanopagliari commented on #98
The plugin unfortunately is not compatible with mobile. I don't think it would be possible to extend it since it is based around reading a json file that I'm not sure is accessible from iOS/iPadOS

[2022-06-02 12:00] LiQiyan commented on #97
I have the exactly same problem, and can't solve it. Please let me konw if anyone can figure it out. Thank you ^ ^

[2022-06-08 02:48] arthurfraor commented on #98
Makes sense! We can see many changes to iPadOS this year, some to files app. Hopefully they'll add some kind of compatibility to different files in the future.

[2022-06-08 02:48] #98 closed

[2022-06-08 15:24] doomgutt opened #99 "[Feature Request] Image import not relying on temporary Zotero image filenames (related: "add note from annotations")"
Currently the images that are imported into Obsidian are tied to the Zotero folder name where that image is stored. When we use the "add note from annotations" feature in Zotero, it creates an annotation note whose embedded images are stored in a temporary location managed by Zotero. When we use that feature again Zotero doesn't overwrite the previous annotation note and instead creates a new one

[2022-06-09 18:48] dzackgarza commented on #95
+1, so far I've had good luck extracting text content and regions from the new "Select Area", along with comments on the annotations themselves, but not the per-annotation tags:

![image](https://user-images.githubusercontent.com/1149853/172921916-e22c26dd-8e9b-4233-bab4-bc22c87d64a5.png)

[2022-06-13 19:04] XuShenLZ commented on #97
Yes I confirm the same problem. Using latest bibnotes 0.9.146 + Zotero 6.0.8.

It seems that when we are editing our notes with markdown formats in Zotero, Zotero already transform that into proper style and somehow "hide" those syntax indicators. However, bibnotes are looking for those explicit characters. See below for my experiment:

![image](https://user-images.githubusercontent.com/31999415/1

[2022-06-13 19:21] XuShenLZ commented on #58
Yes I am also using relative path and this issue is the same for me. As @pdatlinger said:
- I inspected the json file after editing notes in Zotero and **found** my newest change.
- I run the `BibNotes Formatter: Update Library` but it says it updates 0 entries.
- I run the `BibNotes Formatter: Create/Update Literature Note` and manually select the paper I updated, then I can saw the changes.

[2022-06-16 03:42] a1576799 commented on #97
Hope this can be solved soon.

[2022-06-16 03:51] a1576799 commented on #97
Yes, I see that, too. Thank you for replying. However, it seems that an extra empty line appears between items, for example, the empty line between two bullet items, which makes the whole markdown context become so long that the structure is destroyed somehow and it cannot be read clearly. I hope it disappears, and could you please help me with that?

谢谢您的回复，但是我发现就是很多时候会出现大量的非必要的空行，比如，两个bullet的条目之

[2022-06-16 21:31] stefanopagliari commented on #91
Sorry for taking this long. I have looked into it but I was not able to replicate the problem

[2022-06-16 21:31] #91 closed

[2022-06-16 21:53] stefanopagliari commented on #93
Hi @khelbenlaforge. Thank you for flagging this problem.
The plugin did not consider the possibility of spaces in the name of the folder. I have now encoded the name of the folder. Could you try the version 0.9.147 and let me know if this is working?

https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.147

This should fix the first case.

[2022-06-16 22:25] stefanopagliari commented on #95
@Servinjesus1, are you referring to highlights made using an external pdf reader (not the one inside Zotero) and then imported using the command "add note from annotation" in Zotero?

[2022-06-16 23:02] stefanopagliari commented on #95
I have checked the logs and it looks like betterbibtex exports the hex code of the highlight colour (e.g. "#facd5a" for the yellow in Mac Preview). I would imagine that the colour will differ across different highlighter. I think there are two options:
1) letting the user specify the hex code in the settings
2) find a JS library that associates hex codes with the name of a few colours (preferably

[2022-06-16 23:51] Servinjesus1 commented on #95
@stefanopagliari I do mean the `Add Note from Annotations` button from an attachment's context menu. However, in my experience both sources of annotations (internal or external editors) behave the same.

I also learned the underlying RDF of the annotation does include the hex color as well, and will show it transparent in Zotero with #80 tagged onto the highlight color (so ~19.6% transparent if yo

[2022-06-18 22:31] stefanopagliari commented on #95
I have addressed this in the version [0.9.148](https://app.sparkmailapp.com/web-share/7jXTUcOcLeKASvKwO08hVvTe6AN2ylNr55BCxHgG). @Servinjesus1, could you please test it?

I've used a Color Classifier library (https://github.com/wadackel/color-classifier) that converts the custom HEX to one of the 10 colours already supported in the settings of the plugin (and previously supported by Zotfile).
The

[2022-06-19 21:20] stefanopagliari commented on #79
@Miscellan, sorry for taking this long. I've now corrected the issue and I will release the fix in the next update

[2022-06-19 21:20] #79 closed

[2022-06-19 21:55] stefanopagliari commented on #97
I was able to replicate the problem. When formatting the notes added manually, the plugin currently removes all the html tags, including the formatting. I should be able to fix this.

[2022-06-19 22:12] stefanopagliari commented on #97
I have added a fix in the latest version 0.9.151 https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.151

Could you please test it and let me know if it works for you?

[2022-06-19 22:17] stefanopagliari commented on #81
yes, @chbroecker  is right. It was a screenshot from Obsidian to show the results

[2022-06-19 22:17] #81 closed

[2022-06-19 22:27] stefanopagliari commented on #58
@pdatlinger sorry for not getting to this issue earlier.

[2022-06-19 22:37] stefanopagliari opened #100 "Add ZoteroID as placeholder in the template"
The following request was made on the Obsidian Forum (https://forum.obsidian.md/t/bibnotes-formatter-new-plugin-to-export-and-format-annotations-from-zotero-into-obsidian/29920/183?u=stpag)

[code]

[2022-06-20 01:26] XuShenLZ commented on #97
Thanks for the update! However, it doesn't fix for me and also becomes unstable. I upgraded to 0.9.151

![image](https://user-images.githubusercontent.com/31999415/174508779-7c5b605e-9c87-4679-affa-b0cdfbf71155.png)

But there are many weird behaviors:

![image](https://user-images.githubusercontent.com/31999415/174509509-7c90ab5d-d299-4ec9-84bc-f0798fc12377.png)

![image](https://user-images.gith

[2022-06-20 01:37] XuShenLZ commented on #58
My setting to `Update Existing/All Notes` is `Only existing notes`. Not creating new entries is indeed the desired result. But my problem is that it doesn't **update** the current notes as well. See the gif below:

![Obsidian_2022-06-19_18-34-18](https://user-images.githubusercontent.com/31999415/174510433-de4ee24c-16d5-470c-8197-b1e41414e1ed.gif)

I am using the latest 0.9.151

[2022-06-20 07:18] stefanopagliari commented on #97
@XuShenLZ thank you for testing this. I will give it another try later today

[2022-06-20 08:43] stefanopagliari opened #101 "Feature request: add combined authors name placeholder in the template"
This request was made in the [Obsidian Forum](https://forum.obsidian.md/t/bibnotes-formatter-new-plugin-to-export-and-format-annotations-from-zotero-into-obsidian/29920/221?u=stpag)

[code]

[2022-06-20 21:52] stefanopagliari commented on #97
@XuShenLZ The final screenshot you posted work as expected. The html-to-markdown parser I have loaded in the package adds those symbols after the headers but they go away in preview mode.

I've tried to replicate the note above but it works fine on my end (with just the plain text). Would you be able to share with me the json file of that annotation so that I can replicate the problem?

![Screensh

[2022-06-20 21:57] stefanopagliari commented on #58
@XuShenLZ does the "Update Library" function fails also if you wait longer?  It takes a few seconds for BetterBibTex to export the updated file  (depending on the size of the file), so one possibility I would like to rule out is that it had yet to be updated when you ran the "Update Library" command

[2022-06-21 04:05] XuShenLZ commented on #97
@stefanopagliari You can download the file [here](https://drive.google.com/file/d/1q9nnk1dcYcezTh2VORMH8NkkVPG6RJ8w/view?usp=sharing). The one I showed in the screenshot has the citation key `chengConflictResolutionModel2022`

[2022-06-21 04:22] XuShenLZ commented on #58
Yeah there is nothing new even after I have waited for many minutes. Also nothing is updated after my restart Zotero & Obsidian. My JSON file is only 1MB and there is only one note in Obsidian now.

[2022-06-21 20:51] stefanopagliari commented on #97
@XuShenLZ is the annotation in the screenshot from chengConflictResolutionModel2022 a mix of highlights extracted from the pdf with some manual editing within Zotero?

[2022-06-21 21:01] XuShenLZ commented on #97
Yes it is a mix of both. Sounds like it will be the cause. After mixing up the manual editing with extracted highlights, this note goes under the "Extracted Annotations" section in Obsidian. The plain text notes go under the "Comments" section.

Hope the parser can be compatible with the mix of contents! I found it very efficient to take personal notes during reading, while directly referring to t

[2022-06-21 21:08] stefanopagliari commented on #97
I will check if it is possible to parse the manually typed of the note without losing the capacity to parse correctly the part extracted from the text.  The use case I envisioned is that notes are made either directly in the pdf (using the comment function) or in a separate note within Zotero than the one extracted automatically.

[2022-06-21 23:46] XuShenLZ commented on #97
Thanks! I understand the difficulty if they are not designed to be recognized in the same note. I will adjust my habit to follow this restriction.

Although this issue can be closed for sure, hope this functionality can still be considered in the future iteration. Thanks again for the amazing work!

[2022-06-22 08:22] stefanopagliari commented on #73
@doomgutt thank you for looking into this. I think you have identified the issue. I have fixed it in the latest release https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.152.

Could you please test it and let me know if it solves the issue?

[2022-06-22 10:23] doomgutt commented on #73
Yeah, looks to be working now:) Thank you very much for maintaining this plugin

[2022-06-22 11:19] 133501 commented on #73
Hello @stefanopagliari!
I'm afraid the latest version did not fix the bug. At least for me.
In Obsidians console I still get the error:
[code]

Where the first path is correct, but the second one is obviously not with the double drive statement `'C:\D:\...`

[2022-06-22 15:35] 133501 commented on #73
@stefanopagliari it is: `D:\hajek\GD133501\s_\zotero\storage\`
[debugout.txt](https://github.com/stefanopagliari/bibnotes/files/8959085/debugout.txt)

Thank you for looking into this! I realize it is not vital and not copying images is also fine.

[2022-06-22 17:04] stefanopagliari commented on #73
@133501 Thank you. I will try to fix this. It is not the first time that I encounter problems in dealing with file paths across windows and Mac. The main obstacle is that I do not have a computer running windows, which makes testing any fix complicated.

[2022-06-22 20:17] stefanopagliari commented on #58
@XuShenLZ I wonder if this is related to the other problem and the fact that you were editing notes extracted from a pdf. For instance, what happens if you create a new note for an existing entry (only manual edit or only pdf extraction) and select update?

[2022-06-22 22:39] arthurfraor commented on #58
Just a complement, it is required to extract the notes you create on a pdf in zotero. If you just highlight ant make comments, but not extract it, the notes won’t be added.

[2022-06-23 02:08] XuShenLZ commented on #58
@stefanopagliari The problem is still there even if I just use a note with plain text. You can observe in this gif that even though the changes are reflected in JSON, `BibNotes Formatter: Update Library` still does not do anything.

![explorer_2022-06-22_19-04-02](https://user-images.githubusercontent.com/31999415/175191825-96452af1-2621-4f63-a823-1b330bcc093a.gif)

[2022-06-23 07:37] 133501 commented on #73
@stefanopagliari I see. I'm glad to help!
I've set up a test Vault on my home computer to test this. Please be aware that the drive letters are different. Nevertheless, the error is still the same - adding an extra `C:\` to the actual correct path.
[console-testVault.txt](https://github.com/stefanopagliari/bibnotes/files/8965035/console-testVault.txt)
[debugout-testVault.txt](https://github.com/st

[2022-06-23 14:15] Even628 opened #102 "[feature request] avaliable for multiple libraries"
This tool is really helpful when working with my personal zotero library!!
However, I also have a group zetero library, and  i find that I can only add one of my libraries (personal or group) into obsidian.
Is it possible to support multiple libraries to be added in the same obsidian vault in the future?

[2022-06-23 15:03] LiQiyan opened #103 "Part of note is missing when it started with "<" and ended with ">""
I noticed the missing of usernote after updating my literature notes. I compared the notes in obsidian and in zotero, and found that the missing notes started with "<-" and ended with "->". Hence, it shows completed notes after I changed "<-" to "->".

In other case, the missing notes started with "<" and ended with "->".

Hope this situation can be avoided and be feel free to use "<" and ">", wou

[2022-06-23 16:51] Hu-Zhecheng commented on #53
Also encountered the same question.

[2022-06-23 19:27] stefanopagliari commented on #73
@133501 Thank you.
Is this folder correct: G:\Můj disk\p_\obsidian-sync\testVault\bib-export\media\zimmermann-2002-ventcontrolmeans_YZ9WNXMY.png?

[2022-06-23 20:40] stefanopagliari commented on #73
if you don't mind, could you replace the main.js file with the one at this link and share the console.log?
https://www.icloud.com/iclouddrive/07e7LASDXdR1qFxPaIVQLecyA#main
it will not solve the issue but it will print out a couple of additional logs

[2022-06-23 21:01] stefanopagliari commented on #58
Ok, I have found out what is the problem.
The code compares the date when the library was updated the last time with the date when the entry was updated the last time in order to identify those that need to be updated.
Zotero provides a different date modified for the metadata and for each of the individual notes. I was looking at the date of the metadata, but this has not changed. I will need to

[2022-06-23 21:50] stefanopagliari commented on #58
@XuShenLZ I think I have fixed this in 0.9.153. Could you please test whether editing a note and then updating the library works?

Thanks for flagging the problem

[2022-06-24 00:27] XuShenLZ commented on #58
Awesome! Solved. It may not work if you test too quickly (<1min) after making the change. Wait a bit longer will make sure the time comparison returns non-zero.

[2022-06-24 01:26] XuShenLZ opened #104 "[Feature Request] Export the mixture of manual edits and extracted annotations"
There was a very thorough discussion in #97 that the current export functionality only supports pure manual edits or pure extracted annotations in the same note:

_Originally posted by @stefanopagliari in https://github.com/stefanopagliari/bibnotes/issues/97#issuecomment-1162378894_

There are definitely a lot of difficulties to rewrite the parser but I feel this would be a very helpful feature to

[2022-06-24 07:21] stefanopagliari commented on #102
@Even628, yes, this would be a good feature and one that is on my todo list. I need to first deal with some nagging bugs before adding new feature but I will try to implement this.

[2022-06-24 07:24] stefanopagliari commented on #58
Thank you. The time lag is - I think - due to the fact that betterbittex may take a few seconds to start updating the json file

[2022-06-24 07:24] #58 closed

[2022-06-24 08:00] 133501 commented on #73
@stefanopagliari here they are:
[console-testVault.txt](https://github.com/stefanopagliari/bibnotes/files/8973811/console-testVault.txt)
[debugout-testVault.txt](https://github.com/stefanopagliari/bibnotes/files/8973812/debugout-testVault.txt)

I'm no programmer but.... Am I correct that this is where the images get copied?
[code]
because before there I can find only these parts where pathImageNew

[2022-06-24 08:29] stefanopagliari commented on #73
The plugin is coded in typescript. This generates a javascript file, which is the one I shared.

Could you try this? https://www.icloud.com/iclouddrive/0cfjQ3BXC3aZq21QSp3ky3Kqw#main

[2022-06-24 09:11] stefanopagliari commented on #73
Sorry, one more,: https://www.icloud.com/iclouddrive/06bnYNxz_9mRj3Nb9-dzPNtbw#main

[2022-06-24 10:40] 133501 commented on #73
@stefanopagliari  sure:
[console-testVault.txt](https://github.com/stefanopagliari/bibnotes/files/8975516/console-testVault.txt)
[debugout-testVault.txt](https://github.com/stefanopagliari/bibnotes/files/8975517/debugout-testVault.txt)

[2022-06-24 10:44] 133501 commented on #73
@stefanopagliari you are the man! :)
The Image gets imported without the error.
THANK YOU SO VERY MUCH!
[console-testVault.txt](https://github.com/stefanopagliari/bibnotes/files/8975538/console-testVault.txt)
[debugout-testVault.txt](https://github.com/stefanopagliari/bibnotes/files/8975539/debugout-testVault.txt)

[2022-06-24 12:51] stefanopagliari commented on #73
Great. I've pushed the changes to the new version https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.154

[2022-06-24 20:07] stefanopagliari commented on #53
@Rhydderch, @hujie12306, @Hu-Zhecheng   could you please provide some more details on when does this problem emerge?
- when you are updating a note extracted from a pdf or one added manually?
- What are your settings concerning overwriting the notes?
- which modal are you using (create/update note or update entire library)?

[2022-06-24 20:31] stefanopagliari commented on #53
I think I have found a potential fix. Could you please paste this main.js file in the folder of the plugin, replace the existing one, and see if it solves the issue?
https://www.icloud.com/iclouddrive/0a2CyBJM33oHxTpiZwkf6_BFA#main

[2022-06-24 20:50] stefanopagliari commented on #80
@xwying, @RavHiltonl; I have implemented the change in the new release 0.9.155 (https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.155). Could you please test it and confirm that works as expected?

Regarding including more maintainers, I would be happy to work with anybody who is willing to help. I guess one problem is that this is my first and only attempt at writing a plugin and codin

[2022-06-24 21:06] xwying commented on #80
@stefanopagliari Thanks for the update. I just tested it and the problem is still there. If I remove the "-1" in `L2078` then it will be correct.

https://github.com/stefanopagliari/bibnotes/blob/99d40a8a5bb06ef0f43cd376232abc8dd0d051d6/src/main.ts#L2078-L2084

I see that you modified `L2083` but I think if there are existing notes this condition will not be executed?

[2022-06-24 21:22] stefanopagliari commented on #80
Thank you for spotting this. I've amended it in https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.156

[2022-06-24 22:21] xwying commented on #80
@stefanopagliari Hi, I saw that you modified that line in the new commit. However the release 0.9.156 seems identical to the 0.9.155 and the files are the old one when I download it.

[2022-06-25 08:09] stefanopagliari commented on #80
@xwying I'm not sure what went wrong there.
It should be ok in 0.9.157 https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.157

[2022-06-25 13:30] Hu-Zhecheng commented on #80
I tested the new version, and it seems no character will be removed now.

[2022-06-25 13:42] Hu-Zhecheng commented on #53
In my test vault, this issue is solved in version 0.9.156. And I did not test the version lower than this.
Thanks a lot for your work!

[2022-06-25 17:58] #53 closed

[2022-06-25 19:24] pcuellar opened #105 "Detect lists and single items for authors, collections, etc"
First of all, thanks for all your work on this plugin.
I noticed that on export of authors for example, you have the option of either receive a list or a single item. This makes it difficult to automate yaml values to work with DataView since a list with a single item won't be picked up by DV. Is it possible to have the plugin detect when there is a single author vs. multiple authors? Another opti

[2022-06-25 19:31] stefanopagliari commented on #105
@pcuellar, could you give me a couple of examples of how should this look like?

[2022-06-25 19:50] stefanopagliari commented on #103
@LiQiyan I was able to identify the source of the problem. That text was deleted because it was mistakenly recognised as an html tag. I have fixed it in 0.9.158 https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.158

I'm going to close this issue but please reopen it if the issue is not solved. Thanks for flagging the problem

[2022-06-25 19:50] #103 closed

[2022-06-25 19:57] pcuellar commented on #105
Two possibilities:
1. It parses multiple authors differentiating them from single authors. Single author: "{{author}}. Multiple authors: ["{{author1}}, {{author2}}, {{...}}]
2. It allows one author per line on export so that it gives you something like:
authors:
  - {{author1}}
  - {{author 2}}
  -  {{...}}

[2022-06-25 20:27] stefanopagliari commented on #67
@csducate, @anoriginalmoniker @sutzig @vdmeer-rm, sorry for not being able to look into this before but I had to suspend work on the plugin during a busy period.
The plugin currently does not consider the changes made in the advanced config of the Zotero reader (e.g. `extensions.zotero.annotations.noteTemplates.highlight`) and it processes them only to the extent to which they are then exported in

[2022-06-25 20:35] xwying commented on #80
Hi @stefanopagliari, the problem is fix in the case when you only set `startSave` and preserve all content to the end of the note.

If I specify the `endSave`, there are still some problems:

Let's consider this example:

[code]

If I set `startSave="%%%% Preserve Start"` and `endSave="%%%% Preserve End"`, the current `existingNotePreserved` will not include `%%%% Preserve End`. Actually it will b

[2022-06-25 20:50] stefanopagliari commented on #80
Thank you for identifying this other case and providing a solution

[2022-06-25 20:50] #80 closed

[2022-06-25 20:59] stefanopagliari commented on #72
@hujie12306 Sorry for replying to this before but I did not have time to work on this.
Thank you for identifying a way to extract the tags associated with a highlight. This is very promising. I will certainly look into this and prioritise this

[2022-06-25 21:08] #73 closed

[2022-06-25 21:08] #48 closed

[2022-06-25 21:09] #50 closed

[2022-06-25 21:38] stefanopagliari commented on #72
I was able to import the tags by amending the template as you suggested. Currently these are simply listed as part of the comment appended to a highlight. In order to be able to differentiate between the two, some kind of commonly agreed marker needs to be placed in the template so that Bibnote would be able to treat the two separately.

One issue that I would be curious to hear your view or anybo

[2022-06-26 10:59] annargrs opened #107 "[Feature Request] Command to create the literature note in the current file"
The current workflow presupposes that you start from selecting the reference for which to create a literature note from the citations picker menu, which you need to summon first.

Some of us use [[@citekey]] as a way to link to references even if they don't have their own literature notes yet, e.g. in reading lists or quick maps of content. This also could provide a faster alternative route to the

[2022-06-26 11:41] stefanopagliari commented on #107
@annargrs this is a good idea. Something like "updated open note". I will add it to the pipeline of improvements.

[2022-06-26 19:46] stefanopagliari commented on #84
@CaoKang-David I would like to add this functionality in the future but it is currently not a priority as I would like to focus on correcting bugs and enhancing the main functionalities. As @jdmorg0 suggested, the Citations plugin works quite well for this

[2022-06-28 20:15] MSBack commented on #92
This is possible with placeholders like {{Yellow}}.

[2022-06-28 20:34] stefanopagliari commented on #92
As @MSBack mentioned, the following placeholders are available: {{Yellow}, {{Red}}, {{Green}}, {{Black}, {{White}}, {{Gray}}, {{Cyan}}, {{Magenta}}, {{Orange}}

[2022-06-28 20:34] #92 closed

[2022-06-28 20:51] MSBack commented on #104
I agree completely with the need to have manual comments and highlights exported together in their original context. This makes for a much more streamlined workflow.

[2022-06-28 21:08] stefanopagliari commented on #104
@XuShenLZ and @MSBack, thank you.
I will explore this and whether it is possible to move the determination of whether a piece of text is exported from the pdf or inputted manually from the note level to the sentence level

[2022-06-28 22:29] MSBack commented on #104
Thanks for the quick response. I would like to specify that when I said "manual comments and highlights exported together in their original context", I was thinking of how any annotation comment added to a highlight in the native Zotero PDF reader would stay associated with that highlight, also when grouping by color using the color placeholders. This does not work for me currently with the follow

[2022-06-29 05:39] stefanopagliari commented on #104
@MSBack  Could you provide an example of the expected behaviour and what you are getting instead?

[2022-06-29 06:15] MSBack commented on #104
I believe my use-case is slightly different than that of OP, since I am mostly concerned with the comments/notes made in direct association with highlights.

I expected highlights and associated comments to be exported together when using color placeholders. So that {{Yellow}}, for example, would list any yellow highlights made within Zotero, and any comments associated with those.

In reality, on

[2022-06-29 06:22] stefanopagliari commented on #104
@MSBack The processing of highlights and associated comments is done assuming that the standard Zotero template is used.

If you add a line break between the comments and the highlight in the template, these will be exported as two different elements and it will not be possible to recognition se that the comment was associated with the highlight of a given colour rather than being a standalone com

[2022-06-29 07:15] MSBack commented on #104
Okay, I see. Thanks for clarifying that, and thanks for the tip. Just to be clear, are you referring to the "Double spaced" toggle option? Or the "Custom text before all comments" option? In this case, what would you add? a <br>?

However, this got me thinking that standalone comments could perhaps be associated with certain colors by using certain words, tags or symbols as triggers for transforma

[2022-06-29 10:55] stefanopagliari commented on #104
@MSBack  I'm referring to this setting:
![image](https://user-images.githubusercontent.com/30759878/176420290-52a8b894-4145-4865-b83b-b08a4672ec6b.png)

[2022-07-01 06:16] ashishbhateja opened #108 "Cannot run the plugin"
I am keen to check this out!
I installed via BRAT. When I try to update library, I get a blank box like [this](https://share.getcloudapp.com/nOuX9W77).
Appreciate any help in troubleshooting the error.

[2022-07-01 10:46] stefanopagliari commented on #108
When you run the command to create a new note, do you see the list of available sources or only that empty box?
If you see only the empty box then it may be that the path to the json file is not inputted correctly.

[2022-07-01 21:33] Underscore1234 commented on #108
Hey, I have the same issue. I installed it via BRAT and exported the library to a BetterBibTex.json file. I don't get any when creating a new literature note.

[2022-07-01 21:41] stefanopagliari commented on #108
@Underscore1234 I plan to add an error message when the json file is not read (either because the path in the setting is wrong or for some other problems).

If your json file is in the root folder of the vault, the setting "BibTex file" should be something like "filename.json"

[2022-07-01 21:45] Underscore1234 commented on #108
It was my mistake, I used an absolute path instead of a relative path. I got it working now! Thanks for responding so quickly. Is there somewhere were I can buy you a coffee for the effort of making this plugin? This is going to make my life so much easier!

[2022-07-01 22:20] ashishbhateja commented on #108
I had a space in the file name which was creating the issue. Thank you so much for your prompt attention!

[2022-07-01 22:20] #108 closed

[2022-07-02 16:05] xwying commented on #57
@stefanopagliari This may be related to #80 . I tried the case provided by @Oblique82 and it is working fine with the latest fix.

However, it looks like the fix #80  is not included in our latest release yet. When that fix is released in next version maybe @Oblique82 can try it again and see if the problem is resolved.

[2022-07-04 16:25] 1qzhworld opened #109 "path error (automatically replace '\\' with '%5C')"
Hi, I an working on windows 10 and Obsidian v0.14.15, with the latest bibnotes (i.e. bibnotes-0.9.159).

The placeholder `{{localLibraryLink}}` and `{{file}}` do not work well. For example, when I set the template
[code]
The result is something like
[code]
You can see that the path of attachment and the format of local library are both wrong.
|Placeholder|Supposed|Shows|
|---|---|---|
|{{file}}|fi

[2022-07-04 16:38] stefanopagliari commented on #109
@1qzhworld Did the plugin exported the path correctly in earlier versions?
I do not have access to a computer running Windows, so I have difficulties testing the way paths are generated in this operating system, but I will try to identify what is the source of the issue

[2022-07-05 05:01] 1qzhworld commented on #109
Yes, I believe that it worked well at the begining, but failed afterwards... I have installed and unstalled some other plugins after it works (but I don't remember the details). Would Bibnotes formatter influenced by other setting?

Anyway, thanks for your contribution!

[2022-07-05 06:32] 1qzhworld commented on #109
I am not sure whether it worked (perhaps never worked). I have renew a new obsidian vault and tested the Bibnotes formatter plugin. But unfortunately, it fails.

I have searched similar problems in Google and I think the following problems are related and should be helpful.
https://security.stackexchange.com/questions/162940/function-of-5c-in-a-path-traversal
https://stackoverflow.com/questions/60

[2022-07-05 09:31] stefanopagliari commented on #109
@1qzhworld Thank you. I will look into this

[2022-07-05 12:21] tim-hilde commented on #104
This setting is not available in 0.9.159.

[2022-07-05 18:06] Brandkmayer opened #110 "Json not recognized by bibnotes"
Hello, I'm running into a issue where "Create/Update Literature Note" doesnt pull up any of my citations.
![image](https://user-images.githubusercontent.com/44383746/177388778-c2255239-615c-4dd2-b282-9ecd044e6570.png)

I have the BetterBibTex Json file stored within my vault as instructed and I'm unsure where the issue is originating. Do you have an suggestions for trouble shooting this?

[2022-07-05 18:16] stefanopagliari commented on #110
@Brandkmayerm, Where is the file located in the vault? and what value. did you place in the first field in the plugin setting?

See [here ](https://github.com/stefanopagliari/bibnotes/issues/108 )for some similar issues

[2022-07-05 18:31] Brandkmayer commented on #110
I checked out your link to similar issues and this solved the problem. Thanks 👍🏼👍🏼

[2022-07-05 19:25] #110 closed

[2022-07-12 14:00] Raagaception opened #111 "[Low Priority Nitpick] Wrong Description in Settings Menu"
BEAUTIFUL documentation and plugin settings so far. Loving it. Found a tiny tiny mistake though, please fix after all the important issues are sorted :D

![image](https://user-images.githubusercontent.com/72780589/178506538-80f2bd9a-c575-4245-a279-7b5ad35c678c.png)

[2022-07-12 15:46] Raagaception opened #112 "Quotes ``" "`` get misinterpreted by template"
YAML-centric template I tried to use :

[code]

The output comes like so, with the quotes replaced by newlines :
[code]

[2022-07-12 20:24] stefanopagliari commented on #112
@Raagaception I have tried your template and I was not able to replace the issue. See for instance my output:
<img width="686" alt="CleanShot 2022-07-12 at 21 21 37@2x" src="https://user-images.githubusercontent.com/30759878/178588103-0065880f-4b74-4a41-bb27-ea5e58b2cca6.png">

Would you be able to share a json with just this source so that I can try to replicate using the exact same source?
It wo

[2022-07-13 02:00] Raagaception commented on #112
W h a t

Works for me too now! As of now, not able to replicate the issue. Lemme try some more and get back to ya. I'll close the issue if I'm not able to replicate it.

[2022-07-13 02:06] Raagaception commented on #105
@pcuellar Dunno whether this helps, but here's what I did in my YAML template.
[code]

And change multiple entries divider to ``,``
![image](https://user-images.githubusercontent.com/72780589/178635349-05e0815d-25d0-41b3-8497-0e5906176b38.png)

Output is a list, regardless of the number of authors!
![image](https://user-images.githubusercontent.com/72780589/178635508-9573ed64-d383-4aae-ad28-fdb883

[2022-07-17 04:53] OxygenFrost commented on #109
I think I have a related issue/insight on windows 10, bibnotes v 0.9.20, Obsidian v0.15.6. Sorry if this is poor formatting, I'm very new at this

I checked the nonfunctional {{file}} link against a working external link made via [Obsidian's built in Ctrl+ drag and drop](https://help.obsidian.md/Advanced+topics/Drag+and+Drop).

Link generated from BibNotes Formatter {{file}}

Link generated by Ctr

[2022-07-17 05:15] OxygenFrost commented on #109
Further clarification/investigation: For me, all of the links gnerated by {{file}} were broken. Some of them (underscores and letters in file name only, e.g. "david_allen_2001_getting_things_done.pdf") started working when I manually changed the {{file}} link to start with `(file:///` instead of `(file://` .

Following this, I tried a few variations on the above and found that the en dash encoding

[2022-07-17 07:02] OxygenFrost opened #113 "{{localLibraryLink}} produces invalid Zotero select link due to double brackets"
# The Issue
Link produced by either of the included templates is formatted as `[Zotero]((zotero://select/library/items/[ZoteroID]))` (invalid link) when it should be `[Zotero](zotero://select/library/items/[ZoteroID])`

This appears to be because brackets are included when defining {{localLibrary}} and {{localLibraryLink}}
https://github.com/stefanopagliari/bibnotes/blob/097c3ae49315081df055893e5b

[2022-07-17 07:14] OxygenFrost commented on #100
BibTex field {{itemKey}} appears to be what's needed

In my test custom template, all three of these produced identical (and working) zotero links:
`**Local Library Link** : [Zotero]{{localLibraryLink}}
**Using select**: [Zotero]({{select}})
**Using Item ID**: [Zotero](zotero://select/library/items/{{itemKey}})`

[2022-07-17 15:07] ClusterWood opened #114 "path error"
Sorry, I'm a layman.
On Windows these lines produce an invalid link:
    const attachmentPathCorrected = reference2.attachments[attachmentindex].path.replaceAll(" ", "%20 ");
    const selectedfile = "[" + reference2.attachments[attachmentindex].title + "](file://" + encodeURI(attachmentPathCorrected) + ")";
I patched them:
    const attachmentPathCorrected = reference2.attachments[attachmentindex

[2022-07-17 21:18] stefanopagliari commented on #109
@OxygenFrost Thank you for flagging this problem. I had inadvertently created the problem while trying to fix another encoding issue recently. Could you please check if this is sorted in 0.9.201?

[2022-07-17 21:20] stefanopagliari commented on #114
@ClusterWood Thank you for flagging the problem. I think I fixed it in 0.9.201.
Could you please test this version and let me know if it works? Please close the issue if the fix works

[2022-07-17 21:30] stefanopagliari commented on #113
@OxygenFrost Thank you for identifying the problem. I have fixed it in 0.9.202

[2022-07-17 21:30] #113 closed

[2022-07-17 21:45] ClusterWood commented on #114
Unfortunately, the problem still exists in .202

output: file://C:%5CUsers%5Cstepputtis%5CZotero%5Cstorage%5CVGL2IATI%5CEifert_2002_Das%2520Erdbeben%2520von%2520Lissabon%25201755.pdf

As you can see, a slash is missing after "file:" and spaces are displayed as %2520 and not as %20.

[2022-07-18 07:01] stefanopagliari commented on #114
@ClusterWood What is the original file path?

[2022-07-18 09:03] RuizSerra opened #115 "Zotero "Related" items available in template"
It would be fantastic to have the "related" items for a paper from zotero available as a placeholder field in the template, allowing us to have them as backlinks, as we have authors and/or tags. Going further, if the items could be listed with their citekeys, rather than the paper name, it would be very helpful to be able to create graphs of related papers.

Thanks, this plugin is amazing!!

[2022-07-18 16:38] ClusterWood commented on #114
The original file path:

"C:\Users\stepputtis\Zotero\storage\VGL2IATI\Eifert_2002_Das Erdbeben von Lissabon 1755.pdf"

[2022-07-19 18:10] #115 closed, assigned to nobody

[2022-07-19 18:13] stefanopagliari commented on #114
@ClusterWood any chance you could share with me the json file with just this reference?

[2022-07-19 18:36] stefanopagliari commented on #114
@ClusterWood What would be a URI path that would work in Obsidian? I don't have a computer running Windows so I cannot test what is the right fix.

Currently I get this result: "C:%5CUsers%5Cstepputtis%5CZotero%5Cstorage%5CVGL2IATI%5CEifert_2002_Das%20Erdbeben%20von%20Lissabon%201755.pdf"
The slash is encoded as %5C while the space is encoded as %20. Is the problem generated by the slash or both?

[2022-07-19 20:30] ClusterWood commented on #114
The slash in the path is encoded  right but after "file:" on Windows three slashes are needed: "file:///"

https://superuser.com/questions/352133/why-do-file-urls-start-with-3-slashes

The spaces in the path/file name are *not* encoded to "%20" but to "%2520".
May be this link might help:

https://stackoverflow.com/questions/16084935/a-html-space-is-showing-as-2520-instead-of-20

If I patch in mai

[2022-07-19 21:59] stefanopagliari commented on #114
@ClusterWood Thank you for providing these resources. I have added a third slash and added the "path.replaceAll(" ", " ")
Could you please test the latest version?
https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.203

[2022-07-20 01:27] Asynchro-Epool opened #116 "Can I remove the brackets of the {{localLibraryLink}}?"
When I create a new literate note, the placeholder `link: "{{localLibraryLink}}"` get the results like this `(zotero://select/library/items/AZCF7BSI)`.

Can I remove the bracket of the results like `zotero://select/library/items/AZCF7BSI`?

And If it provide an another style of the localLink like `zotero://select/items/citekey)`?

[2022-07-20 03:53] zfhxi opened #117 "any way to automatically generate nested subfolders?"
Hello, Is there any way to automatically generate nested subfolders when import md files from JSON file? And folders' names are the names of collections/subcollections from zotero.
For example, in my zotero, the nested collections is:
![](https://img.idzc.top/picgoimg/2022/07/20/e2c5a24d755e3752f6d75fb2f06a7f11_20220720113648_03.png)

When I export to Obsidian, I wish bibnotes can automatically ge

[2022-07-20 04:37] ClusterWood commented on #114
The third slash is still missing in .203

[2022-07-20 05:56] tim-hilde opened #118 "Can't update existing note"
Using 0.9.201 I am not able to update an existing note. I'm getting this error:

![image](https://user-images.githubusercontent.com/44113468/179907329-24010f15-1e4a-49fc-94d6-3fd5821fb69b.png)

[2022-07-20 06:43] stefanopagliari commented on #116
@Asynchro-Epool what version of the plugin are you using?
I have revised this a couple of days ago. In the latest version the placeholder {{localLibraryLink}} returns something like this: zotero://select/library/items/Y4I22WMQ
Instead {{localLibrary}} returns the md link "[Zotero](zotero://select/library/items/Y4I22WMQ)"

[2022-07-20 06:46] stefanopagliari commented on #114
@ClusterWood I have added another slash in .204. Could you check if this work (or I if need to have 6)?

[2022-07-20 06:47] stefanopagliari commented on #118
@tim-hilde could you share a json file with one or few entries that I could use to reproduce the problem?

[2022-07-20 06:50] stefanopagliari commented on #117
@zfhxi would you like Bibnotes to store the related note in a folder that mirrors the structure found in Zotero?

[2022-07-20 06:59] zfhxi commented on #117
Actually, I would like Bibnotes generated folders that mirrors the structure of collection folders found in Zotero. It is not simply export md files only into Export Path and I wish export md file into {Export Path}/{parent collections}/{sub collections }/xxx.md.

[2022-07-20 07:17] Asynchro-Epool commented on #116
Thanks for your reply.

I'm using the Obsidian 0.14.6 and bibnotes 0.9.201.
The place holder {{localLibraryLink}} returns `(zotero://select/library/items/Y4I22WMQ)`, but what I want is `zotero://select/library/items/Y4I22WMQ` without brackets. I don't know why I have the link with brackets.

[2022-07-20 07:21] tim-hilde commented on #118
This is the entry that specifically doesnt work. As I cannot upload .json files, I've just changed the file entry from .json to .txt.

[Exported entry.txt](https://github.com/stefanopagliari/bibnotes/files/9147413/Exported.entry.txt)

[2022-07-20 08:15] stefanopagliari commented on #116
@Asynchro-Epool, could you please try to update to on the latest version?

[2022-07-20 09:23] stefanopagliari commented on #116
@Asynchro-Epool Thanks. I will look into that error.
Does {{localLibraryLink}}work correctly in the latest version?

[2022-07-20 09:30] Asynchro-Epool commented on #116
Becuase this bug occur, I can not create new note anymore. Thank you for all the trouble you've taken.

[2022-07-20 09:33] stefanopagliari commented on #117
@zfhxi. This is an interesting idea. I have made a note of that and I will revisit once I fix some more urgent bugs.

[2022-07-20 09:34] stefanopagliari commented on #116
@Asynchro-Epool would you be able to share a json with the single Zotero entry that is causing the problem? you will need to change the file extension to txt to be able to upload it here

[2022-07-20 14:45] nhan000 opened #119 "Please submit this plugin to Community Plugins"
Hi I just found out about your plugin and it looks great.

However, it's not available on the Community Plugin list, which makes installing a bit of a hassle and hard for nontechnical people. Would you please consider submitting it to Community Plugins to make it more accessible? On the plugin post on Obsidian Forum, I saw you said that you would submit it in January but I couldn't find it on the

[2022-07-20 17:24] ClusterWood commented on #114
.204 was working, .205 hast 4 slashes :-(

[2022-07-20 18:30] stefanopagliari commented on #114
@ClusterWood and .206?

[2022-07-20 18:36] ClusterWood commented on #114
Thank you! That works.

[2022-07-20 18:52] #114 closed

[2022-07-20 19:50] stefanopagliari commented on #118
@tim-hilde I think I have fixed the problem in version 0.9.207
Could you please test it?

[2022-07-20 21:32] stefanopagliari commented on #119
@nhan000 I will submit it to the Community Plugin once I have dealt with all the remaining small bugs. In the meantime, the easiest way to update it is to install the BRAT plugin in Obsidian, and add the repository of this plugin to the settings of BRAT.

[2022-07-20 21:32] #119 closed

[2022-07-21 00:04] Asynchro-Epool commented on #116
I have tried the 0.9.207, there is no problem temporarily. Thanks!

[2022-07-21 02:35] R4D0M123 opened #120 "[Issue]Image can not be properly imported"
The pulg in doesn't function properly when I have image in the note. When I have image in notes, even the `update library` command stop function.

I look into the `json` file created by `BBT`, this issue maybe related to image uri points to a `http://zotero.org/user...` form url instead of a local object. This url points to the web storage of zotero and I have ran out of storage space in my online

[2022-07-21 08:30] stefanopagliari commented on #120
@R4D0M123 I would be happy to look into this. To help me, could you please share two things:
- share the json file for one reference that is causing the problem (you need to rename the file extension as txt)
- a screenshot of the error that appears in the Obsidian developer console (View --> toggle developer tool)

The image is not stored in web storage. By default, the plugin will look for the im

[2022-07-21 08:30] #116 closed

[2022-07-22 02:11] Solarrixs opened #121 "Some journal articles will not be imported into Obsidian at all (no note is created)."
Recently been using Bibnotes.
Have imported 100 journal articles/websites, but for some reason 4 of them cannot be imported.

I have auto-export on, and manually re-exported the BibTex JSON. Does not work. Restarted Bibnotes, Obsidian, Zotero.

Trying to import the journal articles, I get this error in Obsidian console
![image](https://user-images.githubusercontent.com/95193023/180347467-2de4a6b1-

[2022-07-22 03:51] R4D0M123 commented on #120
My note with image should stay in the `/storage/..` folder,and I specified it in the setting.

The file I thought will be helpful is provided in the zip file follows.

[BIB_Debug.zip](https://github.com/stefanopagliari/bibnotes/files/9164447/BIB_Debug.zip)

The zip file contains a folder. In the folder:
1. `debugout_pureTextNote.txt` is the debug output when only use pure text note
2. `RelatedItem

[2022-07-22 07:09] stefanopagliari commented on #121
@Solarrixs Thanks for raising this issue. Could you please share the json file from one of these sources so that I can replicate the problem? You will need to rename the extension of the file from json to txt to upload it here

[2022-07-22 07:10] stefanopagliari commented on #120
@R4D0M123 Thank you. I will look into this

[2022-07-22 07:21] stefanopagliari commented on #120
@R4D0M123 what version of bibnotes are you using?

[2022-07-22 07:36] R4D0M123 commented on #120
I believe now I'm using `0.9.204`.

[2022-07-22 07:42] tim-hilde commented on #118
@stefanopagliari No, it is still happening

[2022-07-22 07:46] R4D0M123 commented on #120
I just update to 0.9.207.And try update note with image,then it solved.😂

Seems like you have fixed this in some `0.9.206` version.

Anyway thanks for your time and attention.

[2022-07-22 12:54] Solarrixs commented on #121
@stefanopagliari
Thank you.
I exported as CSL JSON. I can attach the other 3 later if you need.
[Exported Items.txt](https://github.com/stefanopagliari/bibnotes/files/9167873/Exported.Items.txt)

[2022-07-22 13:00] fruchtblase commented on #121
Dear @stefanopagliari, first let me thank you for the great plugin!
I have the same issue, I think in my case it can be narrowed down to papers with "old" Annotations (ones created before Zotero 6).

[code]
[bug.txt](https://github.com/stefanopagliari/bibnotes/files/9167880/bug.txt)

[2022-07-22 13:08] Solarrixs commented on #121
I have only used Zotero 6 and not its previous versions, so I'm not sure.
@fruchtblase

[2022-07-22 20:39] pcuellar commented on #121
Just to add that I am also seeing this issue. It is a journal paper and annotations were made with Z6 reader

<img width="555" alt="Screen Shot 2022-07-22 at 4 39 14 PM" src="https://user-images.githubusercontent.com/20482146/180562950-121c8df6-224a-46f5-b357-3596d13210fd.png">

[2022-07-23 20:51] stefanopagliari commented on #118
@tim-hilde Could you please provide more info on what error you are receiving right now? is it the same as before?

I cannot replicate the problem after the last update. The json seems to be exported correctly on my end.
<img width="723" alt="CleanShot 2022-07-23 at 21 49 25@2x" src="https://user-images.githubusercontent.com/30759878/180622524-5275c18e-db45-429f-a274-b48cad07385e.png">

[2022-07-23 20:52] #120 closed

[2022-07-23 20:58] stefanopagliari commented on #121
@Solarrixs  You mentioned that you exported this as a CSL JSON. I've designed the plugin around files exported as "BetterBibTex JSON" and I'm not sure what are the differences. Does the problem persists also when you export it as BetterBibTex JSON?

[2022-07-23 21:01] stefanopagliari commented on #121
@pcuellar if you could send me the json (change extension as txt) of the Zotero entry that failed to import I can look into this.

[2022-07-23 21:26] #112 closed

[2022-07-23 21:27] stefanopagliari commented on #109
@OxygenFrost  I'm closing this issue but please reopen it if the problem is not solved by the latest version of the plugin

[2022-07-23 21:27] #109 closed

[2022-07-23 21:27] #100 closed

[2022-07-23 21:28] #67 closed

[2022-07-23 21:31] #54 closed

[2022-07-23 21:35] stefanopagliari commented on #55
@Rhydderch  I realise this is an old issue and apologies for not having tackled it before. I was wondering if the problem still occurs with the latest version. If so, could you please share a json file of this source (rename the extension as txt)?

[2022-07-23 21:37] Solarrixs commented on #121
Sorry for the confusion, my auto export is at better bibtex json but when I imported the file to you I imported as CSL Json and converted it to txt

[2022-07-24 06:22] stefanopagliari commented on #121
@Solarrixs, I see. could you export also this file as betterbibtex json?

[2022-07-24 16:10] Solarrixs commented on #121
@stefanopagliari
Okay. Exported the 4 problematic journal articles. All the settings checked off (Keep updated, etc)

[Exported Items.txt](https://github.com/stefanopagliari/bibnotes/files/9176127/Exported.Items.txt)

[2022-07-24 22:11] pcuellar commented on #121
Here it is @stefanopagliari Thanks for looking into this
[Exported Items.txt](https://github.com/stefanopagliari/bibnotes/files/9176813/Exported.Items.txt)

[2022-07-25 05:34] tim-hilde commented on #118
I'm still getting the same error:

<img width="285" alt="image" src="https://user-images.githubusercontent.com/44113468/180705294-5bdb8486-ed1f-4b10-9f76-3c7d67c54f80.png">

[2022-07-25 08:59] fruchtblase commented on #121
dear @stefanopagliari,
I had already uploaded it, but forgot to mention it in my post: here is the offending entry again:
[bug.txt](https://github.com/stefanopagliari/bibnotes/files/9179613/bug.txt)

[2022-07-26 16:02] 1qzhworld commented on #109
@OxygenFrost Does the latest version 0.9.207 work for you? I still get same troubles. If you also suffer this problem, let's reopen it?

[2022-07-26 18:11] ClusterWood commented on #121
I get this error when I import notes into Zotero via Zotfile. And this is only because Zotfile creates links, e.g. "zotero://open-pdf/library/items/V5DLM828?page=4".
After I "unlinked" these entries in Zotero, the whole note imports correctly.

Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'length')
    at MyPlugin.formatNoteElements (plugin:bibnotes:4850:66)
    at

[2022-07-26 20:32] Solarrixs commented on #121
Hi, I use ZotFile(?) for all my PDFs. I'll rename & move using ZotFile, and click "Add Note from Annotations" (which I think is built into Zotero itself?)

I tried "unlinking" with what you said (going into the annotation note you made, and click unlink for each annotation), then re-export & used the plugin for Obsidian, and sadly, nothing happened.

Hopefully someone else can do the same thing as

[2022-07-26 21:36] ClusterWood commented on #121
After unlinking restart Obsidian.

[2022-07-27 21:28] Solarrixs commented on #121
Well, turns out this is the solution.

Basically, all I did was go to **ONE** note created from my annotations, click on every paragraph of text, click unlink.
Close Zotero and Obsidian, then just import ALL broken notes. For some reason, just doing the unlinking process on a single note fixes every single other note (at least for me). Even more, I deleted the note that had everything unlinked, an

[2022-07-27 21:28] #121 closed

[2022-07-27 21:32] stefanopagliari commented on #121
@pcuellar/@fruchtblase: does the process outlined by @ClusterWood above works for you? or should I look into what is causing the issue in the json you shared above?

[2022-07-28 05:38] ClusterWood commented on #121
Could you please have a look what is causing the issue in the json shared above. What I found may be a work around but imho not a solution.

[2022-07-28 08:55] fruchtblase commented on #121
I have unlinked the Links in Zotero and now the import works. So the problem seems to be definitely related to links, as my new annotations (that are imported successfully ) don't have them.
The generated file doesn't have blank lines separating the annotations like it does for the other entries.

![grafik](https://user-images.githubusercontent.com/10699549/181463361-c62bc393-ec4e-49bd-af81-720f83

[2022-07-28 14:00] ClusterWood commented on #121
Imho the problem is not with the links in the annotations per se, but
how Zotfile creates them during the automatic import. Under Windows Zotfile uses pdf.js. Maybe the problem is limited to Windows?

[2022-07-28 15:19] Solarrixs commented on #121
I have Zotero and Obsidian Synced with windows and Mac and they both had the same issue. So maybe not limited to windows.

Yes, this is a workaround, but it is your time, I don't want you to spend a lot of your time on this now we have a viable workaround (unless you want to!)

For me, I unlinked notes, then deleted the annotation, and recreated notes that has the links, and it can be imported.

[2022-07-28 15:59] seawee1 opened #122 "Zotero note formatting not correctly imported, Comments not imported"
Hi,

first of all: Thank you so much for this, bibnotes is awesome!
Two issues I encounter when I use your Addon is that
1. highlight comments are not imported, i.e. the ## Comments section is empty and
2. the notes formatting, i.e. headings, boldness, whatever, are not imported. All is just plaintext. I use the standard configuration for formatting import.

Greetz,
Sebastian

[2022-07-28 16:44] stefanopagliari commented on #122
@seawee1 could you please extract the json file from one Zotero source that has these problems and share it with me? to upload it here you will need to rename the file extension from json to txt

[2022-07-28 23:44] aarontimo opened #123 "Unable to create new LN or update library"
I’m just having a bit of trouble getting the plugin to work. I’ve installed the plugin and exported my Zotero library in the correct format but when I try to create a new literature note I get no results after typing the first letter of an author's name - no content appears when I type any letter. When I try to update library I see a completely empty and unchanging box. I have included images [her

[2022-07-29 00:50] pcuellar commented on #121
Yep, that did it. As strange as it is, it corrected the notes on import. Thanks @ClusterWood for the workaround.

[2022-07-29 08:09] Tragula opened #124 "[Bug] itemType field disregards capitalization and whitespaces"
Hi there! Really enjoying the plugin!

I came across a minor issue with the {{itemType}} handle. It seems to remove any whitespaces and lowercase (some of?) the words. For example:

- Book -> book
- Web Page -> webpage
- Journal Article -> journalArticle

Disregard if this is the intended behaviour. I imagine this has something to do with how Zotero stores this field internally.

[2022-07-30 14:33] BeJa1996 opened #125 "Import Comment Headings from Zotero Annotations"
Hello Stefano,

I love your plugin. Thanks for that! Is there a possibility to import the Comments in a Zotero annotation with the style it has? For example, in the following Annotation, I have a Heading:

In the .json file it is then reflected as `<h1>Theory</h1>`.
It would be nice if, in the Obsidian Note, it would be formatted as a heading (#) as well.

Is there already an option which I did no

[2022-07-31 19:51] stefanopagliari commented on #121
@pcuellar I looked into the json file that you shared (Nakata 2012) but I could not replicate the error. Here is what I get:
![CleanShot 2022-07-31 at 20 50 07](https://user-images.githubusercontent.com/30759878/182042747-e35c0681-c32c-4b70-bd6b-ad1672eead79.png)

[2022-07-31 21:50] stefanopagliari commented on #121
@fruchtblase
I was able to identify one issue in the json you shared. The regex that I used to identify the citation within brackets extracted bye Zotfile did not capture your entry. I do not know if this is the result of changes in zotfile or something more specific to your use case. I've addressed this in the latest 0.9.208

[2022-08-01 01:38] CharlesCollin91 commented on #123
Following this post. Same issue, nothing coming up when executing the create command in Obsidian.

![Uploading 5151.JPG…]()

Here is the full path to .Json --->  G:\02_Recherches & Connaissances\CC_Obsidian_Vault\CCSecondBrain\FromZotero\TESTlibrary1.json

And here the export path (relative): \FromZotero

[2022-08-01 13:54] hyperorganised commented on #123
Hello, just installed the plugin and had the same issue to begin with. Noticed that it worked with the relative path from within the vault, so not the whole (including Users or CC-Obsidian_Vault). Hopefully this helps, I am by no means an expert.
Christine

[2022-08-01 16:23] CharlesCollin91 opened #126 "Getting started, folder path / relative path || JUL-2022"
Hi there,

I don't know if its me not entering correctly the Bibtex file location and the Export path, or if its and issue with the new version of Obsidian v0.15.9, but when calling the command /create in obsidian nothing come out.

Does anyone has it working under this obsidian v0.15.9 ? Could you indicate me a correct example of the precise nomenclature I have to use filling up the 2 first field

[2022-08-01 16:24] CharlesCollin91 commented on #123
Hi Christine,

I tried but without succes :/ . Thank anyway!

[2022-08-01 18:20] stefanopagliari commented on #123
@aarontimo you should add in the setting the relative path from the root of the vault. If your json file is located in the main  folder of your vault, then just add the name of the file followed by the json extension.

[2022-08-01 18:23] stefanopagliari commented on #126
@CharlesCollin91 you should specify the file path from the vault folder (not the absolute path from the root of your computer). See for instance this issue: https://github.com/stefanopagliari/bibnotes/issues/108

[2022-08-01 18:54] CharlesCollin91 commented on #126
@stefanopagliari,

Thank you for the help, I managed it to work !

Maybe a small example in the description of the installation of bibnotes could help absolute non techy like me ;)

Cheers to all the effort you put in giving birth to that plugin, and elso the maintenance of it! If you have a buy me a coffee page, I'll support it for sure ;)

Regards,
-CC

[2022-08-01 20:57] #126 closed

[2022-08-01 21:00] stefanopagliari commented on #125
@BeJa1996 would you be able to share the json file for this entry (the file path needs to be changed as txt).

Is the comment added manually within Zotero while the quote is exported from the pdf?

[2022-08-01 21:32] stefanopagliari commented on #124
That is the way these strings are exported by BetterBibTex. I have made a change in 0.9.209 so that the first letter is capitalised and the one you flagged are fixed manually. If there is any other that needs to be corrected, please let me know

[2022-08-01 21:39] stefanopagliari commented on #123
I have added this clarification in the next version of the plugin: 'For instance, add `library.json` if the file (library.json) is in the root folder. Instead, if the file is in a subfolder, specify first the subfolder followed by the name of the file (e.g. 'zotero/library.json' if the json file is located in a subfolder of your vault called 'zotero''

[2022-08-01 21:57] stefanopagliari commented on #118
@tim-hilde what version of the plugin do you have installed? I can't replicate the issue in https://github.com/stefanopagliari/bibnotes/releases/tag/0.9.209

[2022-08-01 22:01] stefanopagliari commented on #68
@zllx666/ @venkate123/ @xuey06 could you please let me know if the issue still persists in the latest version? I don't have a PC  running Windows so I cannot replicate the problem

[2022-08-01 23:13] aarontimo commented on #123
Thanks @stefanopagliari and @hyperorganised - that worked for me! Thank you again for your help and @stefanopagliari, thank you for the super useful plugin.

[2022-08-01 23:13] #123 closed

[2022-08-02 07:21] zllx666 commented on #68
@stefanopagliari The issue is fixed in the latest version. Thanks for the freat plugin.  :)

[2022-08-02 08:44] #68 closed

[2022-08-02 09:46] Tragula commented on #124
Thanks!

For the sake of completion, I went through all the other two-word item types. Here is the list:

- Audio Recording -> audioRecording
- Blog Post -> blogPost
- Book Section -> bookSection
- Conference Paper  -> conferencePaper
- Dictionary Entry -> dictionaryEntry
- E-Mail -> email
- Encyclopedia Article -> encyclopediaArticle
- Forum Post -> forumPost
- Instant Message -> instantMessage
-

[2022-08-03 00:43] pcuellar commented on #105
This actually works for my use case. I'll mark this as closed.

[2022-08-03 00:43] #105 closed

[2022-08-03 05:19] atakanokan opened #127 "[Feature Request] Non-PDF notes as Extracted Annotations"
For non-PDF items in Zotero, enable a way to use notes as `Extracted Annotations`.

For example, if I have notes on a Video Recording that is timestamped (like below), these are extracted under `Comments` instead of `Extracted Annotations`
[code]

[2022-08-04 12:22] kvgaever commented on #95
Only recently started using the plug-in, so not sure if there's a wonky setting on my end, but different colored highlights in Zotero only show up as yellow in Obsidian.
However, the custom text before certain color does match with the annotated color from Zotero. Any idea what could be causing this?

Using version 0.9.209, and Zotero 6.0.10

[2022-08-04 20:19] stefanopagliari commented on #95
@kvgaever:  could you share the json file of the a source where this problem is occurring? you will need to change the file path to txt in order to upload it here

[2022-08-05 07:03] kvgaever commented on #95
[zotero_test.txt](https://github.com/stefanopagliari/bibnotes/files/9266170/zotero_test.txt)

@stefanopagliari: I've extracted a single item where I added one of each highlight colors. When imported, the annotations are shown this way:

<img width="514" alt="annotations" src="https://user-images.githubusercontent.com/44807761/183020884-d5d74657-7a0b-409c-a435-9b6c456daa47.png">
.

[2022-08-07 21:52] stefanopagliari commented on #95
@kvgaever The colours are recognised correctly by the plugin. For instance in the two screenshots below I have set it up so that the name of the colour is pasted before the highlight and it works correctly.

If the problem is that the highlight is yellow, that is the standard behaviour of the plugin. Selecting the "highlighted" setting simply wraps a "==" around the text and that is rendered by Ob

[2022-08-08 09:15] kvgaever commented on #95
My apologies then, I thought that feature was already implemented. Thank you for clearing it up and for your work on the plug-in.

[2022-08-08 16:16] krillin666 commented on #122
Besides these errors, *custom text before all highlights* is not working in the latest version (but worked previously).
I use `    -` before all highlights so that this extension works with my Logseq graph, but now the `    -` does not appear in the imported highlights

[2022-08-08 22:10] PhilippTh opened #128 "[Bug] Keys for additional highlight formatting do not work"
Thanks for the great work so far!

I'm using bibnotes 0.9.209 and better bibtex 6.7.19.

Unfortunately, neither "+" nor "%" nor "todo" have any effects on the extracted annotation. Additionally, when using "+", the last key in the previous annotation gets deleted.

[2022-08-08 23:08] Brandkmayer opened #129 "Highlighting not appearing"
I followed the directions noted below:
"Zotfile plugin (black, white, gray, red,orange, yellow, green, cyan, blue, magenta). In order to export the highlight colour you will need to activate this function by going to the main menu of Zoter and selecting Preferences → Advanced → Config Editor. Search for “extensions.zotfile.pdfExtraction.colorAnnotations” and turn the value to “true”. It is also im

[2022-08-16 00:30] animalsprobably commented on #122
Same issue here. Amazing plugin otherwise thank you! I tried installing older versions & found:

0.9.159:
- comments do get imported
- custom text before & after highlights & comments works
<img width="475" alt="0 9 159 result" src="https://user-images.githubusercontent.com/111278885/184758041-f16cd3ee-4919-4920-85aa-2f09587ec2b5.png">

0.9.200, .206, .208
- comments don't get imported
- custom te

[2022-08-17 16:42] RBourry opened #130 "Comments and Tags are not imported from Zotero"
Hey, first of all great plugin!
I don't know if I'm doing anything wrong but when I import a highlighted and commented file with tagged comments Bibnotes it only seems to copy the highlighted text and the citation. Anything filed under {{comment}} or {tag} seems to get lost in the process. I didn't quite encounter this issue here or in the obsidian forum yet.
I use Zotero 6.0.12 and Obsidian 0.15.

[2022-08-18 13:16] RBourry commented on #130
follow-up:
was able to reproduce this on my Macbook (macOS 12.3.1), same versions of Zotero, Obsidian and BetterBibtex respectively as mentioned in the Post above.
Set it all up from scratch, got the exact same result as described above.

[2022-08-20 09:51] ghweili commented on #130
the same behavior occurs to me, including the  "If I toggle always place the comment made to a highlight before the text of the highlight it suddenly works like a charm".

I looked at the json file, and didn't see anything special that might lead to such a bug; the only unusual thing that I saw, is that, the paths related to zotero items contains special characters like Chinese characters, which a

[2022-08-20 10:10] ghweili opened #131 "feature request: possible to render each group of highlight and comment in the form of callouts blocks according to the color of the highlight box in pdf?"
This would be convenient because it naturally creates a separation and connection between the highlight and comment while preserving the color of the highlight boxes. The colors can be slightly different because zotero offers only five colors while callouts offer more.

Moreover, since I'm using zotero, it would be better if the tags can be displayed on the next line right after the comment, also

[2022-08-20 10:20] ghweili commented on #130
BTW,  I'm using softwares of the same versions as the OP, except that I'm using windows 10.

Here it seems that there are two  issues:

1. missing comments (and tags);

2. failing to adjust the output format of the annotations; for example, I may want to add linebreaks between highlights, comments and tags, and I may want to add a prefix ">[!Tips]" before {{highlights}} so that the annotation woul

[2022-08-20 11:07] ghweili commented on #130
another related potential bug is: somehow the zotero links loses track to the original item or pdf; there should be two separate links for them but now only one is shown; moreover, the link is not complet, as shown below.
![image](https://user-images.githubusercontent.com/33361275/185742640-e8d02197-e919-40f5-893e-6285328360d1.png)

![image](https://user-images.githubusercontent.com/33361275/18574

[2022-08-20 11:43] ghweili commented on #131
alternatively, can bibnote formatter offer the option to allow the user to export the extracted pdf notes in zotero according to the zotero translator? For example, according to the translator I wrote in the reply above?  I  guess this is more or less similar to importing the said note just as it is (given that the user has finished the formatting by himself in zotero)?

[2022-08-21 18:13] jbs-sf opened #132 "Double Spaced option in Highlights does not work for colors other than yellow"
I've come across an issue where I have used a custom template to allow for colored highlights to be placed in specific parts of a document.  The color highlights are placed correctly, however, it appears that the highlights are bunched together.

The Highlights section in settings has an option to Double Space highlights.  This does not appear to be working. I have toggled the option on and off af

[2022-08-21 18:26] stefanopagliari commented on #128
Hi @PhilippTh,

[2022-08-27 09:32] ghweili opened #133 "links are broken for items from zotero group libraries rather than from "my library""
Afte comparing the links created by bibnotes formatter and from those copied directly from zotero notes to obsidian, their links looks different:

![image](https://user-images.githubusercontent.com/33361275/187024290-54a3ff3b-d2bd-4508-979c-8bf5a72845e8.png)

I guess this is the reason why the links are broken. After checking the json file, I found that the library id information is inded in the j

[2022-08-28 19:19] aadimator opened #134 "Nunjucks Templating Support"
Is there any support for custom templating, as in https://github.com/mgmeyers/obsidian-zotero-integration, where one can use different logical statements to control what gets extracted?

[2022-08-31 08:23] PhilippTh commented on #128
Sure, here you go.

[My Library.txt](https://github.com/stefanopagliari/bibnotes/files/9459874/My.Library.txt)

[2022-09-02 21:18] nb-e commented on #107
Bump! Also I prefer the flexibility of the "Citations" plugin which has three commands:

1) Open Literature Note - this is equivalent to "Create/Update Literature Note", but is nice because you're also brought to the literature note you just created
2) Insert Literature Note Link - search and paste the obsidian link to the literature note into the current pane, which helps for making reference to

[2022-09-12 10:00] wjfeeney opened #135 "Output produces different colored highlights as yellow highlights"
My highlights are in different colors. After using BibNotes Formatter: Create/Update Literature Note, all my different colored highlights appear as yellow highlights in the Literature Note. Can you fix your plugin so that the output reflects my highlights in the colors used? Thanks.

[2022-09-14 06:09] wjfeeney opened #136 "typographical error in template: space needed between "Annotations" and "(date)" & "Note" and "(date)""
The template element {{PDFNotes}} prints the Annotations note without a space between "Annotations"and "(date)" like this: `Annotations(9/8/2022, 3:00:42 PM)`. Can you add the missing space so it all looks like this: `Annotations (9/8/2022, 3:00:42 PM)`? The same situation exists for the {{UserNotes}} element.

[2022-09-14 14:46] Ravenclawer opened #137 "【bug】When define a multiple tags in zotero pdf annotation only the first tag will be exported with # added to the front of it, other tags will not have the #"
pdf annotation
![image](https://user-images.githubusercontent.com/73892411/190186860-4cba5b44-d461-4a78-9654-e57ac3f36e93.png)
exported annotation
![image](https://user-images.githubusercontent.com/73892411/190187177-3c4bc162-a51d-4c41-8825-296866ea9e96.png)
When define a multiple tags in Zotero pdf annotation only the first tag will be exported with # added to the front of it, other tags will not

[2022-09-15 09:17] pdatlinger opened #138 "Feature request - support for multiple library .json files"
Hi Stefano,

I've been using your plugin a lot recently and it's really amazing.
Now I'm running into the limitation that I have multiple Zotero libraries (my main library plus several shared group libraries).
It seems that Zotero can only export them as separate .json files (or maybe I'm overlooking something)?
I would like to sync all the files to Obsidian at the same time.
Would it be easy for

[2022-09-19 15:49] Leitemfa commented on #130
I have encountered the same issue too, the https://github.com/stefanopagliari/bibnotes/issues/130#issuecomment-1219481349
solve it, but I would like to keep the previous order.

[2022-09-22 02:44] atakanokan opened #139 "[BUG] - Not Updating Comments and Extracted Annotations of Already Imported Literature Notes"
Hi,

First of all thank you for the excellent plugin for Obsidian.

The bug I have noticed in my workflow is the annotations not getting updated if the "Literature Note" is already imported to Obsidian via bibnotes. I had to delete the literature note page and re-import it to also import the Comments and Extracted Annotations. Is there a way to update those without delete&import literature notes a

[2022-09-29 06:24] WigginsLi commented on #130
I meet the same issue. And I slove it by changing "Highlight Color" transformation.

[2022-10-07 19:19] jrichardson97 commented on #18
Were there any changes made recently that would have broken this fix? I am getting the copyfile error where home does not have root forward slash before it.

[2022-10-11 07:27] anoriginalmoniker commented on #78
Personally, I use my daily note as a sort of log, so all the notes I create
on a certain date link to my daily note, which is in "YYYY.MM.DD dd" or
"2022.04.20 Wed".

But I imagine I'm not the only person who would benefit from such
functionality.

Love your work on this. It's a major part of my workflow and makes my life
much easier.

On Wed, Apr 20, 2022, 13:36 Stefano Pagliari ***@***.***>
wrot

[2022-10-11 08:55] Oblique82 commented on #57
Understood - thanks so much for your help!
On 22 Mar 2022, 8:29 PM +1030, Stefano Pagliari ***@***.***>, wrote:

[2022-10-24 09:44] fi-ved commented on #129
I equally have this issue. The highlight colours don't carry over from Zotero. Did you manage to resolve the issue? @Brandkmayer

[2022-10-24 15:49] chaozg commented on #18
@jrichardson97 I can confirm that "Copy the Image into the Obsidian Vault" stops working for me, see attached screenshot. The target path misses a slash at the very beginning.
![Screenshot from 2022-10-24 17-23-19](https://user-images.githubusercontent.com/69794131/197569239-c9adb3d0-e346-4792-9c2b-29deef1a0dc0.png)

[2022-10-24 21:09] fi-ved commented on #125
Commenting as well because this would be a great feature for the plugin. It's somewhat frustrating to refactor every updated note especially since the headings are an integral part of making sense of my workflow. Hoping we can have this feature soon.

[2022-10-29 23:55] ibagur opened #140 "Tags imported as keywords, but not recognized"
It seems tags added from Zotero are imported as a list of keywords. However the '#' is not being added, therefore they are not recognised as such by Obsidian

[2022-10-30 08:10] stefanopagliari commented on #140
Are you referring to tags associated with the whole reference or those added to a specific comment or highlight within the Zotero reader?

[2022-10-30 09:37] ibagur commented on #140
Hi,

The ones associated to the whole reference/paper. They do appear listed under Keywords in the final output, however the settings do not appear to affect them, as no '#' is being added. Thanks!

[2022-11-02 17:49] stefanopagliari commented on #140
@ibagur In the template you can add # in front of {{keywords}} and they will appear as tags (at least the single word ones)

[2022-11-03 05:58] Mauricioc93 commented on #135
Hi, I am having the same issue. I would appreciate any help with this. Thanks for all your effort Stefano, the plugin is great.

[2022-11-03 21:51] stefanopagliari commented on #135
@wjfeeney and @Mauricioc93. This is a feature that I would like to include in the future. I think that in theory you could already achieve this by adding to the "colour" settings an html tag to colour the imported text with a given colour. I have not tried it myself but it should be feasible

[2022-11-03 23:48] Mauricioc93 commented on #135
Thank you @stefanopagliari for the prompt reply. I realised later that the feature was not included yet. I would like to help with the feature implementation, but I am just getting into Obsidian. If you think it is an easy implementation then maybe it could be a way to start.

[2022-11-04 16:48] stefanopagliari commented on #135
The following html tags work to highlight the text (in this case "Test") in the colour indicated in the tag
`<mark style="background: #FFB8EBA6;">Test</mark>`

I think you can implement something similar in Bibnotes by specifying the setting for a given colour to be like this:"

`<mark style="background: #HEXCODEOFTHECOLOUR;">{{highlight}}</mark>`

[2022-11-06 13:59] Lslightly commented on #139
![image](https://user-images.githubusercontent.com/57594668/200174954-e16f8e6b-b087-4d48-bbd5-c651cb94fc33.png)

I think using `Select Section` to update the note is a way to update this, but I didn't find such option in settings.

[2022-11-07 21:36] #135 closed

[2022-11-09 10:34] Kullenej opened #141 "BRAT cannot update to newest version"
The latest update cannot be installed by BRAT. It says that it is incomplete and missing main.js from the release.

[2022-11-14 10:24] RommyYao opened #142 "Symbols rendering of "<" and ">" in math expressions in comments"
The less than symbol “<” and the great than symbol “>” of math expressions delimited by “$” in comments will be rendered as “&lt;” and “&gt;”, respectively. An inconvenient way to solve this is to type “\textless” or “\textgreat”, instead.

[2022-11-20 17:45] Elaws opened #143 "[Feature request] Open a note based on a field in the note"
# Usecase description

In Bibnotes settings, I don't use something simple like {{citeKey}} or {{title}} as note title. But something like DOC_TYPE YYYY-MM-DD {{title}}, where DOC_TYPE is a special character that quickly indicates if the document is a book, paper or article (this was inspired from [Bryan Jenks Obsidian Workflow](https://www.youtube.com/watch?v=wB89lJs5A3s)).

Hence, bibnotes is nev

[2022-11-20 18:01] Elaws commented on #100
@stefanopagliari , @OxygenFrost : Thank you !

In addition to this, how to get the {{localLibraryLink}}, {{select}} and {{itemKey} for the other attachments (I have a lot of items in Zotero that have multiple documents as attachments) ?

[2022-11-20 18:26] Elaws opened #144 "[Feature request] "Create/Update literature note" also opens it"
It would be really useful if the bibnotes `Create/Update literature note` would also open the said literature note.

1. If note is not created, open it.
2. If note is already created, open it and optionally update it.

Thanks !

[2022-11-20 20:07] Elaws opened #145 "[Feature request] Most customization for `End of highlight citation format`"
It would be really useful if we could get more customization option for the `End of highlight citation format`.

For example, we could build our own template based on the following elements :

And format them as we want : combine them freely, use chosen format (bold, italic, underlined), option to skip a line between highlight and `End of highlight citation` (out of the blockquote for example), et

[2022-11-20 20:35] Elaws commented on #145
Also, I noticed the `Pandoc` style for `End of highlight citation format` is improperly displayed, and thus can't be clicked :

![image](https://user-images.githubusercontent.com/52013479/202924868-c180c020-d335-4ce5-9c38-2ead341569fc.png)

[2022-11-21 17:32] fi-ved opened #146 "Zotero comments don't allow highlight colours to work properly"
Here, #135 the problem of highlight colours not being imported from Zotero was solved. I managed to get things to work following @stefanopagliari suggestion. However, I discovered a new problem. While the highlight colours now reflect with bibnotes, if a comment is added to those highlights within Zotero, it screws up how it's represented in Obsidian and the highlight colours fail to reflect.
![Sc

[2022-11-21 17:37] fi-ved commented on #129
Hi, I think you should check #135 out. [Solution](https://github.com/stefanopagliari/bibnotes/issues/135#issuecomment-1303865561) worked for me.

[2022-11-22 11:44] ColdOxygen opened #147 "Missing Main.js"
Failed to load plugin bibnotes due to missing main.js
Obsidian 1.0.3

[2022-11-23 04:09] Joshuazxl opened #148 "Help for operating system"
Is there an edition for macOS?

[2022-11-23 21:49] MSBack commented on #147
Same here, except it fails to update to the latest version due to missing main.js, according to BRAT.

[2022-11-25 17:24] QuinnHerden commented on #147
+1

I would love to try this plugin out.

[2022-11-25 20:09] Elaws opened #149 "Link to the highlight page is not extracted properly"
In Zotero, the note looks like this :

![image](https://user-images.githubusercontent.com/52013479/204051029-bb6ca32d-33c1-4d3b-95c9-a654e65dddbb.png)

But once extracted by Bibnotes, it looks like this :

![image](https://user-images.githubusercontent.com/52013479/204050926-dd4b34a0-68e3-43e9-9791-d4ea798127a7.png)

So it creates a unnamed link and is unable to retrieve page and annotation refere